[2020-02-11 23:52] 95-martin-orion opened #6 "Create Docker config for running simulations."
PR #5 provides support for running tests through Docker - we should extend this to cover simulations as well.

[2020-02-11 23:54] 95-martin-orion opened #7 "Automated testing"
[Travis](travis-ci.org) should be used to run tests for each PR. We can't enable this until the repo goes public, but in the meantime we can set up the travis.yml file(s).

[2020-02-14 17:13] 95-martin-orion opened #8 "Cross-platform support"
qsim and qsimh should be able to run on OSX, Linux, and Windows, at a minimum. We need to check the behavior on each platform and document any extra steps required.

If providing full support for a platform is not feasible prior to release, we should verify that Docker works as expected for that platform and provide instructions in the docs.

[2020-02-14 17:28] 95-martin-orion opened #9 "Documentation"
Prior to release, all documentation should be reviewed for consistency with the current state of the code. Any example code in documentation (e.g. scripts, sample `qsim`/`qsimh` invocations) must be verified to work **as written**, such that a new user can copy-paste them directly into their shell and run without modifying the command.

[2020-02-19 23:30] 95-martin-orion opened #17 "Add a top-level repository description"
This will help users identify qsim when searching for it on Github.

(Assigned to @dabacon as only a repository owner can change the description)

[2020-02-26 04:36] iamvamsikrishnad opened #21 "It seems like the package on `test.pypi` needs to be updated - when running `qsimcirq_test.py` from a Docker image, I'm seeing the following error:"
@iamvamsikrishnad: It seems like the package on `test.pypi` needs to be updated - when running `qsimcirq_test.py` from a Docker image, I'm seeing the following error:
[code]
(note that `import qsim` has been replaced with `from qsimcirq import qsim` in the current version of `qsim_simulator.py`)

The Dockerfile in question can be seen in PR #20. The tests in that PR pass when the package is built

[2020-02-26 04:38] iamvamsikrishnad opened #22 "After installing via the pypi package, I had issues with the following script:"
One additional note - after installing via the pypi package, I had issues with the following script:
[code]

Oddly, importing the submodule with `from qsimcirq` worked just fine:
[code]

_Originally posted by @95-martin-orion in https://github.com/quantumlib/qsim/pull/18#issuecomment-589867241_

[2020-02-26 16:41] #17 closed, assigned to 95-martin-orion

[2020-02-26 16:51] 95-martin-orion opened #24 "Move pybind requirement to the user"
As discussed offline, installing pybind11 as part of the `pip install qsimcirq` process may be driving the installation time way up. This is especially true for the Docker install test, where the Docker image must install `git` in order to install qsimcirq.

To remedy this, we should instead require that users install pybind11 on their system and add documentation explaining this requirement.

[2020-02-26 21:23] #6 closed, assigned to 95-martin-orion

[2020-02-28 18:58] #9 closed, assigned to nobody

[2020-03-03 06:10] #22 closed, assigned to iamvamsikrishnad

[2020-03-03 15:29] #21 closed, assigned to 95-martin-orion, iamvamsikrishnad

[2020-03-03 16:00] #7 closed, assigned to 95-martin-orion

[2020-03-03 19:48] 95-martin-orion opened #31 "Automate simulator selection"
Currently, users have to modify the source code to run qsim with a non-AVX simulator. In order to better support users without AVX, we should automatically detect AVX availability and select the simulator type accordingly.

[2020-03-07 21:10] MichaelBroughton opened #39 "New Features for qsim"
Some nice features to have for qsim might be:
1. The ability to compute inner products between two state objects.
2. The ability to actually draw X number of bitstring samples from a state object.

[2020-03-10 22:15] gecrooks commented on #8
I was able to compile and install qsim on macOS (10.13), but it needed a few tweaks. I'd previously installed gcc with homebrew, but I had to remember to set CXX to homebrew's g++ compiler in /usr/local. And I had to add a couple of compiler flags.

`> make CXX=/usr/local/bin/g++-9 CXXFLAGS=" -O3 -mavx2 -mfma -fopenmp -Wl,-undefined,dynamic_lookup -Wno-maybe-uninitialized"`

The `-Wl,-undefined,dy

[2020-03-11 03:31] gecrooks opened #40 "QSimSimulator: Can't access final state or set initial state"
https://github.com/quantumlib/qsim/blob/24a9af400c3d9e4aac011cb8e5dc6b9e1ac4233b/qsimcirq/qsim_simulator.py#L25

1. The dostring states "This method returns a result which allows access to the entire wave function". But it doesn't really. The returned `SimulationTrialResult` hides the final state in a private `_final_simulator_state` variable.

2. The array returned in `SimulationTrialResult._fina

[2020-03-11 15:52] sergeisakov commented on #8
It works on macOS (10.14) using MacPorts' g++ compiler without any additional flags (no warnings generated):

make CXX=g++-mp-9 CXXFLAGS="-O3 -mavx2 -mfma -fopenmp"

[2020-03-11 15:56] 95-martin-orion commented on #40
See also: [Cirq issue 2755](https://github.com/quantumlib/Cirq/issues/2755)

Other Cirq simulators seem to use the following pattern:

1. Define a "State" wrapper for the final state which has a `qubit_map` property.
2. Create a subclass of `SimulationTrialResult` with a method to expose the state object.
3. Document and test the above classes.

This should resolve items (1), (3), and (5). Regardi

[2020-03-11 16:01] 95-martin-orion opened #41 "QSimSimulator: support non-zero initial states"
As highlighted in #40, the QSimSimulator only supports an all-zero initial state. To fix this, we should inject the necessary X gates at the start of the circuit when a non-zero initial state is requested.

[2020-03-11 17:50] gecrooks commented on #40
The amplitude array seems to have qubits in the opposite order than I'd expect from cirq. Something like this is needed.
[code]

[2020-03-11 18:31] 95-martin-orion commented on #39
In particular, item (2) is high priority for the qsim-Cirq interface as well. Given that it's a requirement for both TFQ and Cirq, the implementation should live in the C++ code.

[2020-03-12 16:34] sergeisakov commented on #39
Cirq doesn't have the ability to sample from a state, does it? I have some code for sampling. I'll add it.

[2020-03-12 16:37] 95-martin-orion commented on #39
Cirq does have code for sampling from a state, but for usability I think it makes sense for qsim to provide this behavior directly. Thanks for looking into it.

[2020-03-12 16:39] sergeisakov commented on #41
In principle, qsim supports non-zero initial states. Injecting the necessary X gates might lead to unnecessary performance overhead. It should be done in a different way.

[2020-03-12 16:46] sergeisakov commented on #40
qsim uses the following bitstring qubit order convention: |q_{n-1} ... q_2 q_1 q_0>. If you need |q_0 q_1 q_2 ... q_{n-1}> then it is probably better to reshape the array in C++.

[2020-03-12 16:57] #40 closed

[2020-03-13 00:48] gecrooks opened #48 "Feature request: SWAP gate"
This would facilitating running cirq circuits with qsim. In principle, with all-to-all connectivity, you can always remove the SWAP gates from the circuit and relabel qubits. But I don't think there is an easy way of doing that in cirq.

[2020-03-14 00:12] gecrooks opened #55 "Nonexistent psim_test.py file mentioned in documentation"
The docs refer to a file called `qsim_test.py`, which does not appear to exist. The link goes nowhere.

https://github.com/quantumlib/qsim/blob/master/docs/cirq_interface.md#use-qsim-from-python-without-cirq

[2020-03-14 03:19] 95-martin-orion commented on #55
That's an artifact of a discarded change from pre-release times...let me send out a patch.

Just for reference, this is meant to point to [qsimcirq_tests/qsim_test.py](https://github.com/quantumlib/qsim/blob/master/qsimcirq_tests/qsim_test.py). Because of how Python searches for modules, I'd recommend running it with `make run-py-tests` instead of the instructions in the doc, though.

[2020-03-16 12:35] #55 closed

[2020-03-16 19:04] gecrooks opened #57 "Inconsistent versions"
The version string in setup.py is currently '0.0.1',

https://github.com/quantumlib/qsim/blob/cb02f33c9882da81ce09e1ae043b7fd5ed277c41/setup.py#L79

but pypi thinks the latest version is '0.0.2'

https://pypi.org/project/qsimcirq/0.0.2/

Also, it would be useful for qsimcirq to have a version attribute `__version__` for programatic access. This does not currently work...

[code]

[2020-03-17 15:17] 95-martin-orion commented on #57
While this issue is raised, we should also add a doc for how to perform the release process - including permissions required and any extra tests above and beyond the CI suite that should be run.

@iamvamsikrishnad, could you look into this? If I understand correctly, getting the versions to match will require a new release (i.e. v0.0.3).

[2020-03-17 17:40] gecrooks commented on #57
Another tangentially related issue is that qsim is currently locked to version 0.6 of cirq, but AFAICT everything works just fine with the latest 0.7 cirq.

https://github.com/quantumlib/qsim/blob/cb02f33c9882da81ce09e1ae043b7fd5ed277c41/requirements.txt#L3

[2020-03-20 05:10] iamvamsikrishnad opened #59 "add a doc for how to perform the release process - including permissions required and any extra tests above and beyond the CI suite that should be run."
While this issue is raised, we should also add a doc for how to perform the release process - including permissions required and any extra tests above and beyond the CI suite that should be run.

@iamvamsikrishnad, could you look into this? If I understand correctly, getting the versions to match will require a new release (i.e. v0.0.3).

_Originally posted by @95-martin-orion in https://github.co

[2020-03-20 05:11] iamvamsikrishnad commented on #57
I created a seperate issue for the doc.

[2020-03-25 11:46] sammcardle30 opened #62 "Possible bug: qsimcirq with single qubit rotation gates"
Hi,

I've been looking to replace the cirq simulator in some of my programs with the fast qsimcirq backend. I've noticed some unexpected behaviour with the system wavefunction, and wanted to check whether this was something that I'm doing wrong, or if there might be a potential bug.

I've found that for a single qubit circuit, the X and H gates behave as I expect, but the Rx and Ry gates do not se

[2020-03-25 14:10] 95-martin-orion commented on #62
Your observation of different global phases in qsim is likely correct - I previously saw this when adding tests in #43. However, it's possible that the Cirq-to-qsim translation handles the Rx or Ry gate incorrectly. To verify that the Cirq and qsim results only differ by a global phase, try the following:
[code]
If this fails in either case, please follow up on this issue. Thanks!

[2020-03-25 16:11] 95-martin-orion commented on #39
@sergeisakov, do you have an update on this? I'm starting to hit this requirement on non-TFQ integration work.

[2020-03-25 16:38] MichaelBroughton commented on #39
If you want you can copy the sampling code in TFQ to keep things moving and then improve it when a faster implementation comes along

https://github.com/tensorflow/quantum/blob/master/tensorflow_quantum/core/qsim/state_space.h#L55

Just a thought :)

[2020-03-25 17:38] sergeisakov commented on #62
Rx, Ry and Rz gates have a global phase factor of e^{i·π·t/2} in Cirq. There is no such a factor in qsim.

[2020-03-25 18:23] sammcardle30 commented on #62
Hi Orion and Sergei,

Thanks for your quick responses on this issue. I've looked into the global phase possibility, as you suggested, and have the following results:

[code]

The global phase test passes for the H gate and the Rx(pi/2) gate, but not for the Rx(pi/4) or Ry(pi/5) gates.

I'm currently running this in a colab notebook, and also obtain slightly odd behaviour in what I'm able to access

[2020-03-25 18:33] alexandrupaler commented on #62
Hello,

the source code of Cirq says for `ZPowGate`, for example:
[code]
From my understanding, the Rz gate is without global phase, and the ZPowGate has global phase.

[2020-03-25 19:19] 95-martin-orion commented on #62
The fix for this was added in #43 - if you sync past that version, you should be able to call `myres.state_vector()` to get a the state vector. This object should have the same formatting as the Cirq built-in simulator.

Could you confirm that your local copy is synced past #44? Prior to that PR, we only had a special case to handle Rx(pi/2) - other Rx/Ry/Rz gates would misbehave.

[2020-03-25 19:34] sammcardle30 commented on #62
This does sound like it's probably an installation issue then.

I only created the colab notebook today; how can I check whether the version of qsimcirq I have installed in my colab notebook is after #44?

Thanks again,

Sam

[2020-03-25 19:46] 95-martin-orion commented on #57
These are now consistent at `0.0.2` - further work is tracked in #59.

[2020-03-25 19:46] #57 closed

[2020-03-25 19:49] 95-martin-orion commented on #59
This just came up in #62: as part of the release process, we should have some way to identify what PR the release aligns with. I think Github project releases are the way to do this, but I'm not 100% certain.

[2020-03-25 19:51] 95-martin-orion commented on #62
That would depend on the most recent PR prior to pushing the qsim PyPI package - I suspect that #43 was not included in that release.

@iamvamsikrishnad, do you know what PR v0.0.2 aligns with? Also, we should consider pushing a release to pick up this and other minor fixes that went in since v0.0.2.

[2020-03-25 19:55] sergeisakov commented on #62
Thank you, Orion. Prior to that PR, the Rx/Ry/Rz gates for arbitrary angles misbehaved exactly in the same way as in Sam's examples.

Alexandru is correct that Rx/Ry/Rz have a global phase and XPowGate/YPowGate/ZPowGate don't have a global phase. One thing is that the Rx/Ry/Rz gates are special cases for pi and pi/2 in qsimcirq. These cases have a global phase, whereas Rx/Ry/Rz for other angles do

[2020-03-26 00:38] gecrooks commented on #62
Another area of confusion is that cirq dons't have distinct x^t and Rx gates as such. It only has XPowGate, which has an optional argument for the global phase to mimic Rx. So even if you get it right for Rx, you'll then get the global phase wrong for x^t.

[2020-03-26 01:17] alexandrupaler commented on #62
I wanted to make the opposite point. Rx does not have global phase, and XPowGate has a global phase.

[2020-03-26 01:52] 95-martin-orion commented on #62
Semantics of global phase aside, if it's feasible to ensure that the _relative_ phase of a Cirq operation and its translated-to-qsim counterpart are identical, I think it's worthwhile for us to do so. This may require adding new gate types (like a gate with the same relative phase as the default `(X|Y|Z)PowGate`s) to avoid increasing depth when translating from Cirq.

[2020-03-26 07:33] iamvamsikrishnad commented on #62
Yes you are correct. I don't think #43 is incldued in the version of 0.0.2. I created a seperate bug to track a new release.

[2020-03-26 07:34] iamvamsikrishnad opened #64 "Release v0.0.3"
That would depend on the most recent PR prior to pushing the qsim PyPI package - I suspect that #43 was not included in that release.

@iamvamsikrishnad, do you know what PR v0.0.2 aligns with? Also, we should consider pushing a release to pick up this and other minor fixes that went in since v0.0.2.

_Originally posted by @95-martin-orion in https://github.com/quantumlib/qsim/issues/62#issuecomme

[2020-03-26 15:03] 95-martin-orion commented on #64
From the current list of issues, is there anything we should resolve before pushing this release out? Given that our release process is still fairly relaxed, it's probably fine if the answer is "release as-is and push any new urgent fixes in 0.0.4".

[2020-03-26 15:50] 95-martin-orion opened #65 "Support sampling in qsimcirq"
Related to #39. See also #63, which adds support for sampling to core qsim.

[2020-03-26 19:38] gecrooks commented on #59
Each release should be tagged, e.g. `git tag v0.04`, so that it shows up on github under releases. (And then remember that git treats tags weirdly, so the tag has to be specifically pushed, which I tend to forget.)

[2020-03-27 04:28] iamvamsikrishnad commented on #64
I think we can go as is. The only issue I see is #24 which can go in the later version.

[2020-03-27 20:01] 95-martin-orion opened #69 "Consider full migration to Bazel"
There are a couple of discrepancies between the Bazel- and Makefile-driven builds of qsim - most recently, we found that input files referenced by Bazel require a different relative address than when building with Make.

One possible solution to this is to fully migrate off of Make and require all users to build qsim with Bazel. The goal of this issue is to collect feedback on this proposal; **we

[2020-03-27 22:20] 95-martin-orion commented on #64
Sounds good to me. For selfish reasons I'd like to make sure #68 is in 0.0.3 as well - it should go in later today.

[2020-03-30 05:50] iamvamsikrishnad commented on #64
Done and uploaded to pypi: https://pypi.org/project/qsimcirq/0.0.3/#description

[2020-03-30 05:50] #64 closed

[2020-03-30 05:51] iamvamsikrishnad commented on #62
I have uploaded a new version to pypi. Can you please test now @sammcardle30

[2020-03-30 09:02] sammcardle30 commented on #62
All of my tests shown above now pass, and I can access SimulationTrialResult.final_state , so it all looks good to me!
Thank you all for updating everything so quickly :)

[2020-03-30 14:04] 95-martin-orion commented on #62
Thanks Vamsi for pushing out the new version!

[2020-03-30 14:04] #62 closed

[2020-03-30 14:13] 95-martin-orion opened #70 "Provide gate parity with Cirq"
Related issues: #62 (Rx vs XPow gates), #48 (SWAP gate).

In order to consistently translate Cirq gates to qsim without increasing circuit depth, we should define gates (or extend existing gates) to replicate every gate type in Cirq. As noted in #62, global phase should be taken into consideration for this.

[2020-03-30 14:15] 95-martin-orion commented on #65
#68 added a sampler method to `simulator_avx`, which should be available in the latest release (v0.0.3). Samplers for other simulator types are still forthcoming.

[2020-03-31 18:11] gecrooks commented on #70
There's a few complications with providing Cirq gate parity.

One is that that there's no authoritative list of cirq gates, as far as I can tell. Here's my (probably incomplete) list of cirq gates and how they map to other APIs: https://quantumflow.readthedocs.io/en/latest/gates.html#mapping-between-apis

Another complication is that some of cirq's gates (e.g. CCNOT and CSWAP) are 3-qubit gates, a

[2020-04-02 16:27] 95-martin-orion opened #74 "Can gates in the circuit file be out of order?"
I'm working on a generator for qsim circuits, and for certain gates that qsim does not support it decomposes the gate into a sequence that qsim does support. If there are other gates running at the same time, this can create out-of-order gates in the file, e.g.:
[code]
Is this allowed in qsim or not? Either way, can we update `input_format.md` to clarify this for users?

(I have no preference for

[2020-04-02 17:08] sergeisakov commented on #74
It depends. Your example will work. However, the following examples will not work:
[code]
or
[code]
That is gates acting on the same qubits must be in ascending order of time. This can be fixed by sorting gates or as you suggested, we can update `input_format.md` to clarify this.

[2020-04-12 20:50] kkissell opened #78 "Issues/Fixes for clean build on Centos/gcc 8"
Pulled from current head and found issues with building under Centos with Gcc 8 and openmp using the makefile (as opposed to make.sh).  Simple fix to the makefile made things buildable to pass all tests, but wanted to suppress the bogus warnings about uninitialized variables as well.  Patch file attached.

[0001-Minor-cleanup-for-clean-make-on-Centos-with-gcc-8.patch.zip](https://github.com/quantu

[2020-04-13 15:25] 95-martin-orion commented on #78
As noted in the PR, tests previously relied on the top-level definition of `CXXFLAGS` to build correctly. It feels a little awkward to redefine those flags, but this has been an issue for enough users that I agree we should make the change.

[2020-04-14 15:52] 95-martin-orion commented on #78
Submitted in PR #79.

[2020-04-14 15:52] #78 closed

[2020-04-23 20:06] 95-martin-orion commented on #8
I'll look into adding continuous tests for this using the same infrastructure as TFQ relies on.

[2020-04-23 20:07] 95-martin-orion commented on #65
Samplers for all simulator types (including the new SSE simulator) should now be available in the C++ libraries; leaving this open to continue tracking support in the qsim-Cirq Python interface.

[2020-04-27 17:26] viathor opened #83 "Broken links"
Many links on the [qsimcirq pypi page](https://pypi.org/project/qsimcirq/) are broken. See for example the link to docs about input format.

We may also want to link to the [quantum supremacy dataset](https://datadryad.org/stash/dataset/doi:10.5061/dryad.k6t1rj8), especially if the files there are compatible with qsimcirq (fileformats used there are described in the enclosed README file).

(Not su

[2020-04-27 17:34] 95-martin-orion commented on #83
This looks like a side-effect of (1) using the README as the long description for PyPI, and (2) using short links in the README, which break when ported to PyPI.

The fix is fairly simple (switch to full URL for links in the README) but I don't think it would appear on PyPI until a new qsim release went out. @iamvamsikrishnad, could you look into this? I'll auto-approve a release as long as the us

[2020-04-27 23:02] 95-martin-orion opened #84 "Remove reliance on NRVO"
Named return-value optimization (NRVO) is a form of [copy elision](https://en.cppreference.com/w/cpp/language/copy_elision). In C++17 this optimization is mandatory, allowing sections like the following to return types with a deleted copy constructor:
https://github.com/quantumlib/qsim/blob/97082830a1921b67dec8c79b689ccc23752f7e05/lib/io.h#L41-L48

However, prior to C++17 this was not the case. In

[2020-04-28 00:11] kevinsung opened #85 "Qsimh gives empty output or incorrect results"
Qsimh sometimes gives empty output, seemingly on small circuits:
[code]
Output:
[code]
When Qsimh does produce output (I seem to have to make the circuit big enough for this to happen), it is incorrect:
[code]
Output:
[code]
Could this be due to the options passed to the initialization of the Qsimh simulator? I just copied the options from https://github.com/quantumlib/qsim/blob/master/docs/cirq_i

[2020-04-28 15:53] 95-martin-orion commented on #85
These flags are shared with the C++ apps; definitions can be found in [the "qsimh_base" docs](https://github.com/quantumlib/qsim/blob/master/docs/usage.md#qsimh_base-usage). I suspect that the empty output is a result of this; if the prefix/root/suffix gate count doesn't make sense with the provided circuit, qsimh will likely misbehave. We should have an error for this, though...

It's possible th

[2020-04-28 16:29] sergeisakov commented on #85
qsimh is a hybrid Schrödinger-Feynman simulator. The circuit is split into two parts. So there should be at least two qubits for non-empty output. qsimh option 'p' specifies the number of "prefix" gates. To sum over all the paths, p should be equal to 0. If p > 0 then only partial summation is performed. The results still should be correct but differ from qsim results in general.

[2020-04-28 22:28] kevinsung commented on #85
@sergeisakov In the second example that I gave above, the output is actually incorrect.

Changing p to 0 does seem to give correct results, but still returns empty inputs on some circuits with at least 2 qubits. For example:
[code]
Output:
[code]

[2020-04-28 22:47] 95-martin-orion commented on #85
To clarify @sergeisakov's comment, the output from a `p > 0` run is effectively a reduced-fidelity simulation. It is "correct" in the sense that the sum-over-subset-of-paths it performs is accurate, but its results will necessarily differ from a `p = 0` "sum-over-all-paths" simulation.

[2020-04-29 11:28] sergeisakov commented on #85
The circuit is split into two parts. The number of prefix gates `p` plus the number of root gates `r` should not exceed the number of gates on the cut between the two parts. It seems that there are no gates on the cut in the last example. This leads to empty output because `r = 1`. You can set `r` to zero or you can specify a different cut, say, `'k': [0, 1]`.

As @95-martin-orion pointed out, we

[2020-04-29 22:25] perak opened #88 "qsim performance advice needed"
Hi,

We added qsim to quantum simulator benchmark: https://github.com/quantastica/quantum-simulator-benchmark

Goal is to compare quantum simulator algorithms and see how different simulators performs with single shot, one circuit at a time, 1...X qubits.

Currently, we are running QFT algorithm only, but plan is to add more circuits in near future.

Now, **we would like to know if we are running

[2020-04-29 23:09] 95-martin-orion commented on #88
Your usage of qsim looks correct to me, but it there may be a misunderstanding in how it is meant to be used. The result value returned from qsim is a _full state vector_, not just a single sample. Since it implements `cirq.WaveFunctionTrialResult`, it should be possible to do the following:
[code]
This generates 1000 samples, but only needs to perform the simulation once.

As a general note, ther

[2020-04-29 23:42] perak commented on #88
@95-martin-orion thank you for your answer.

OK, now I got it.

Our intention is to see how quickly simulator can build (internally) state vector and take single sample from it. We don't want to measure roundtrip of entire state vector (which is large with higher number of qubits) from simulator to python (and python's probably slow sampling from it).

Now, one more question: is qsim capable of re

[2020-04-30 00:50] 95-martin-orion commented on #88
Just to be certain we're on the same page: for sampler-type simulators, building the entire state vector isn't strictly necessary. This is why they can outperform qsim for single-qubit samples.

We have an issue open for Python sampling support (#65), but my understanding is that pybind uses ctypes for passing objects from C++ to Python - I wouldn't expect a significant overhead from this. Unless

[2020-04-30 06:32] perak commented on #88
@95-martin-orion thank you!

I’m closing this issue.

[2020-04-30 06:32] #88 closed

[2020-04-30 17:50] weiT1993 opened #90 "Error with make"
[error_logs.txt](https://github.com/quantumlib/qsim/files/4560162/error_logs.txt)

I am trying to install qsim on a linux machine. I did
[code]
which successfully ran. However, running
[code]
in the root directory produces the above error logs. I am not an experienced C++ user, please bear with me if this is a stupid question. Thank you!

[2020-04-30 18:00] 95-martin-orion commented on #90
From the error logs:
[code]
Our Makefile assumes that C++11 is enabled - in your case, you can either:
1. Add `-std=c++11` to the `CXXFLAGS` line in the top-level Makefile, or
2. Build using Bazel (the .bazelrc enforces use of C++11).

Hope that helps!

[2020-04-30 18:21] weiT1993 commented on #90
[error_logs.txt](https://github.com/quantumlib/qsim/files/4560403/error_logs.txt)

Thanks, that gets me through the first errors. But there are other errors appearing now.

[2020-04-30 18:41] 95-martin-orion commented on #90
From the file:
[code]
This is a known error when using older versions of gcc, highlighted in issue #84. Your previous error logs indicate you are using gcc-4.8.2 -- if possible, I would recommend updating your gcc version, as we currently don't plan to support gcc-4.8.x

@sergeisakov, this shows that some subset of users may be using these older gcc versions - should we reconsider adding support f

[2020-04-30 19:45] weiT1993 commented on #90
I updated to gcc-8.3.1. However, `make` still produces the following errors:
[error_logs.txt](https://github.com/quantumlib/qsim/files/4560857/error_logs.txt)

[2020-04-30 20:02] 95-martin-orion commented on #90
Hmm...that indicates that your system does not use AVX by default. That should be fine, since PR #82 added multiplexing for (AVX|SSE|basic) simulators, but obviously something's not quite right.

You can try replacing `-march=native` in the Makefile with `-mavx2 -mfma`, but if your machine doesn't support AVX then that may fail as well.

@sergeisakov, could you take a look at this? I think the Baz

[2020-05-01 02:30] weiT1993 commented on #90
I switched to a newer Skylake server and it works now, so I am closing this issue. Thanks!

[2020-05-01 02:30] #90 closed

[2020-05-01 15:20] 95-martin-orion opened #92 "Update CI to cover SSE and basic modes"
Highlighted in #90 - currently the CI config explicitly specifies `--config=avx`, meaning it will only test the AVX build process. We need to include SSE and basic builds as well.

[2020-05-01 15:33] 95-martin-orion commented on #92
Discussed offline - there are already simulator-specific tests (`simulator_(avx|sse|basic)_test`), so this isn't necessary. To avoid confusion, I'll remove the --config=avx flag from the CI config.

[2020-05-01 18:45] 95-martin-orion commented on #92
The following line from [this x86 options doc](https://gcc.gnu.org/onlinedocs/gcc/x86-Options.html) suggests that explicit SSE tests may still be necessary:
[code]
In other words, running the SSE tests with -mavx will still pass, but it doesn't prove that the tests will pass with -msse4 since there may be stray AVX instructions lurking).

The solution I've found is to explicitly specify the flags

[2020-05-01 20:40] #92 closed

[2020-05-04 18:00] 95-martin-orion commented on #84
Further clarification reveals that C++11 is not the culprit here - instead, the issue is with older compiler versions. gcc-4.8.x has no move-constructor for streams, which causes an error.

Given that TFQ only requires backwards-compatibility to gcc-7.2.1+, we have decided not to support compiler versions older than this.

[2020-05-04 18:00] #84 closed

[2020-05-07 00:48] kevinsung opened #101 "Implement SimulatesIntermediateState Cirq interface"
This interface allows access to intermediate states as the circuit is simulated moment-by-moment. See https://github.com/quantumlib/Cirq/blob/720ea341b0082dc0cbbfb0142c161f01d8edca3e/cirq/sim/simulator.py#L258.

How difficult would this be?

[2020-05-07 02:17] 95-martin-orion commented on #101
As I understand it, a core part of qsim behavior is fusing gates along the time-axis into independent chunks. Simulating step by step in a single execution would require modifying that core behavior, which is likely a significant amount of effort. The alternative is to run each timestep as a separate circuit in sequence, which I suspect would impact the overall performance of the simulator.

@serg

[2020-05-07 10:43] sergeisakov commented on #101
In principle, this can be implemented. One doesn't need to modify qsim as it can run gates step by step without fusion. As @95-martin-orion pointed out, this will impact the overall performance of the simulator. The effort would be to implement the interface between Cirq and qsim.

[2020-05-14 15:51] #48 closed

[2020-05-29 13:29] karlunho opened #117 "qsimcirq fails when it encounters measurement gates"
If a Cirq circuit is passed into qsim with measurement at the end of the circuit, qsim fails to recognize the measurement gate. If the measurement gates are removed, then the everything works.

**Program:**

q0 = cirq.GridQubit(0, 0)
q1 = cirq.GridQubit(1, 0)

def basic_circuit(meas=True):
    sqrt_x = cirq.X**0.5
    yield sqrt_x(q0), sqrt_x(q1)
    yield cirq.CZ(q0, q1)
    yield sqrt_x(q0), sqr

[2020-05-29 13:33] karlunho opened #118 "qsimcirq needs better documenation support for "compute_amplitudes""
The function "compute_amplitudes" does not exist in the Cirq simulator interface, so it doesn't really make sense for the qsimcirq API to support this function. We should either add "compute_amplitudes" to the cirq simulator interface or remove this function for now.

[2020-05-29 13:46] karlunho opened #119 "qsimcirq does not support passing a cirq circuit"
qsimcirq does not support passing a cirq circuit, and instead requires passing a QSimCircuit instead. This is poor user experience because the user needs to change their code when using qsimcirq instead of the native cirq simulators.

Program:

q0 = cirq.GridQubit(0, 0)
q1 = cirq.GridQubit(1, 0)

def basic_circuit(meas=False):
    sqrt_x = cirq.X**0.5
    yield sqrt_x(q0), sqrt_x(q1)
    yield cir

[2020-05-29 13:55] karlunho opened #120 "Need some more documentation on how QSimulator.compute_amplitudes work"
It isn't clear from the documentation on how QSimulator.compute_amplitudes work.

When I run a short program, this is what I get:

**Output:**

Circuit:
(0, 0): ───X^0.5───@───X^0.5───
                   │
(1, 0): ───X^0.5───@───X^0.5───
Results:
measurements: (no measurements)
output vector: 0.5|00⟩ + 0.5j|01⟩ + 0.5j|10⟩ + 0.5|11⟩
[0.5+0.j  0. +0.5j 0. +0.5j 0.5+0.j ]
Results:
measurements: (no m

[2020-05-29 15:20] 95-martin-orion commented on #118
The `SimulatesAmplitudes` interface has this method:
https://github.com/quantumlib/Cirq/blob/eb4ad794a9213c20c800fa59199a29f353ca7994/cirq/sim/simulator.py#L126

That said, it does recommend implementing "compute_amplitudes_sweep" instead - we may want to shift to that method.

[2020-05-29 15:22] 95-martin-orion commented on #119
This was fixed in #104. The actual issue here is that we haven't had a release in quite some time.

[2020-06-01 21:50] 95-martin-orion commented on #119
See also: #59

I've taken ownership of this issue to bring our release back up to speed.

[2020-06-02 15:12] 95-martin-orion commented on #39
The features discussed here are now available in core qsim. #65 tracks adding explicit sampling support in qsimcirq.

[2020-06-02 15:12] #39 closed

[2020-06-02 15:13] #31 closed

[2020-06-02 15:20] 95-martin-orion commented on #117
For terminal measurements, simply omitting the measure operation should be sufficient; however, intermediate measurements will require some changes in core qsim behavior.

See also: #101

[2020-06-02 20:23] 95-martin-orion commented on #59
We've been seeing increased interest in a stable qsim-Cirq interface, so I've picked up this request. So far, I've found a convenient way of constructing a "fire and forget"-style release in Kokoro, the tool we use to test TFQ compatibility. Once that pipeline is built, I'll cut a new release and send out a PR documenting how to trigger it.

[2020-06-04 16:05] 95-martin-orion opened #122 "Add parallelism mux"
We currently have `simmux` to automatically select simulator optimizations based on what the system has available / what config flags the user has specified. In a similar vein, we should add a mux for parallelism libraries (OpenMP, serial execution, etc.) to allow these to be selected in the config flags.

[2020-06-04 17:28] #122 closed

[2020-06-04 17:31] 95-martin-orion opened #124 "Cover all flag combinations in tests"
We currently support AVX, SSE, and unoptimized simulations, each of which can either use or exclude OpenMP. Our CI tests (and possibly our test definitions) need to be updated to cover all possible combinations of these tests.

[2020-06-08 15:20] #124 closed

[2020-06-09 06:49] iamvamsikrishnad commented on #59
Sounds good.

[2020-06-09 07:22] karlunho opened #127 "Benchmarking of Qsim with Cirq"
Need to do a benchmark fo qsim with cirq, and publish documentation.

[2020-06-09 07:24] karlunho opened #128 "Improve release process for when Cirq gets version update"
Need to put together a release process that allows cirq to upgrade independently of qsim

[2020-06-09 07:25] karlunho opened #129 "Qsim Cirq tutorial"
Need to put together a colab showing how to use Cirq and qsim together.

[2020-06-09 07:31] alexandrupaler commented on #127
Would the following help?
https://colab.research.google.com/drive/1354IM8hwPU0la4Jv7-b2vwVqrEgasOsq?usp=sharing

This simple benchmark shows that qsimcirq is 5x faster for the circuit from  https://github.com/quantumlib/qsim/blob/e4dadfe84e26b2b0d8165501f2cb56cddd9f172f/qsimcirq_tests/qsimcirq_test.py#L44

[2020-06-09 14:27] 95-martin-orion commented on #128
Our current strategy for this is to keep qsim pinned to a specific Cirq version in its `requirements.txt` file, and follow up after each Cirq release with any required qsim changes.

For other recent improvements to the release process, see PR #126

[2020-06-09 14:29] 95-martin-orion commented on #129
@alexandrupaler has created something similar for Cirq simulator workshops; we might consider promoting one of those to be the "canonical" tutorial.

[2020-06-09 15:07] #59 closed

[2020-06-09 15:07] #119 closed

[2020-06-09 15:14] 95-martin-orion commented on #59
Version 0.1.0 has been released! We now also have `docs/release-qsimcirq.md` with details on the release process, which is Google-internal. I've left TODOs for myself to add internal docs for this; until then, users are advised to contact me if a release is needed.

[2020-06-09 15:43] karlunho opened #130 "Add Measurement Gates into qsim"

[2020-06-09 15:44] karlunho commented on #117
Will add this feature once qsim supports measurement gates.

[2020-06-09 15:47] karlunho commented on #70
@95-martin-orion to add Cirq gates supported by qsim. For gates that are not supported, please make sure that the failure is graceful

[2020-06-09 15:55] karlunho commented on #118
Qsimcirq simulator should API documentation on what is supported.

[2020-06-09 16:02] karlunho opened #131 "Put together an outline on qsimcirq documentation"
Outline what should be in the documentation.

[2020-06-12 02:29] 95-martin-orion opened #132 "Support converting circuits to unitary format"
For users interested in analyzing circuit unitaries, we should provide the ability to convert an N-qubit circuit to its 2^N x 2^N unitary form. This is required for feature parity with the TFQ variant of qsim.

[2020-06-12 23:20] 95-martin-orion opened #133 "Put For in qsim namespace"
The "For" object in formux.h is in the global namespace, which may cause collisions with user libraries. It should be folded under the qsim namespace.

[2020-06-12 23:23] 95-martin-orion commented on #65
Cirq has an inconvenient requirement that sampled circuits [must have a measurement](https://github.com/quantumlib/Cirq/blob/008eab477131e70e64e6963cb047560dbe7605f7/cirq/sim/simulator.py#L78). Until qsim supports measurements (or at least doesn't reject them outright), this is blocked.

[2020-06-15 08:36] sergeisakov commented on #133
The "For" object in formux.h is in the qsim namespace.

[2020-06-15 12:57] 95-martin-orion commented on #133
My mistake - I likely misread one of the "For" templates as the actual For object (with no "qsim::" qualifier). No changes needed.

[2020-06-15 12:57] #133 closed

[2020-06-19 17:18] 95-martin-orion opened #134 "Surface gates_cirq in qsimcirq interface"
There are currently a bunch of gates that core qsim supports in `gates_cirq.h` that are not being translated from Cirq. We need to surface this support so that users have access to it.

[2020-06-19 17:59] 95-martin-orion commented on #134
Because the translation layer currently converts Cirq circuits to input files, this change forces us to make a decision:

1. Keep the current translation behavior, and add all new gates to the input file format.
2. Modify translation to produce qsim gate objects directly, and leave the input file format alone.

Option 1 is less work, but greatly increases the input file complexity and requires gre

[2020-06-19 20:25] sboixo commented on #134
I think option 2 fits better with the philosophy that qsim is a library and cirq is the frontend to build circuits. Cirq can use the qsim library.

[2020-06-22 11:50] karlunho commented on #134
+1 on @sboixo suggestion

[2020-06-22 15:50] 95-martin-orion opened #137 "Support MatrixGate and unknown gate decomposition in qsimcirq"
Following #135, all `gates_cirq` gates are supported through qsimcirq except for matrix gates. These were excluded from the initial change because they require more complex translation logic, but going forward it would be nice to have support for them.

In a similar vein, there are some Cirq gates which are not in `gates_cirq`. This is basically unavoidable, as Cirq continues to add new gates. How

[2020-06-22 16:11] #134 closed

[2020-06-23 14:34] 95-martin-orion commented on #70
Between #135 and #137, this is resolved. Measurement support is tracked separately in #130.

[2020-06-23 14:34] #70 closed

[2020-06-23 18:23] #137 closed

[2020-06-30 22:09] MichaelBroughton opened #142 "[Proposal] Convert Templated XXXFor Structs to Objects"
Right now both external and internal qsim simulator and statespace objects make use of structs with static templated methods in order to provide parallelization support. For example: https://github.com/quantumlib/qsim/blob/master/lib/parfor.h . In order for TensorFlow Quantum to finish transitioning over to this version of qsim from the one we had originally adapted we need to write our own struct

[2020-07-01 01:58] 95-martin-orion commented on #142
Some context on the qsim side: this should only affect the `*for.h`, `simulator_*.h`, and `statespace_*.h` files. TFQ calls the methods provided by `simulator` and `statespace`, so the new `For` object could be passed in from there.

This is in the simulation "hot path", but by passing reference objects I think we can avoid any significant performance impact.

[2020-07-01 15:52] sergeisakov commented on #142
I think this is a good proposal. I'll do this in a slightly different way like this:

[code]

Instead of passing a For object to every function, I keep the classes templated and add a (lightweight) For object to them. This requires only minimal changes to statespace*.h and to simulator*.h and basically no changes to the existing client code and tests.

[2020-07-02 00:51] MichaelBroughton commented on #142
Ok, just to clarify with this new way of doing things can I still do something like this ?

[code]

and expect things to work ?

[2020-07-02 15:30] sergeisakov commented on #142
Yes, it is expected to work if `tfq::TFQFor` has a copy constructor (user-defined or implicit). One doesn't have to define `my_for`. The following will also work:
[code]

[2020-07-02 19:28] MichaelBroughton commented on #142
Ok great.

When could we expect this to be a part of qsim with a new GitHub release ?

[2020-07-03 15:50] sergeisakov commented on #142
Hopefully, it will be in the repository in less than a week.

[2020-07-07 20:22] #142 closed

[2020-07-08 21:55] MichaelBroughton opened #147 "[Question]: Cycle count for Simulation functions"
inside of `simulator_sse` and `simlator_avx` the worker functions we have are:
[code]
Which then gets called in a parallel manner. Do we have any idea how many CPU cycles or nanoseconds this function needs in order to finish executing once ?

[code]
What is `end-start` roughly equal to ?

[2020-07-09 12:31] sergeisakov commented on #147
If there are no cache misses and branch mispredictions then it typically takes from 46 to 52 CPU cycles to execute `f` once in `ApplyGate2HH` in `simlator_avx` and from 76 to 88 CPU cycles in `ApplyGate2HH` in `simulator_sse`. Those worker functions have to be inlined.

[2020-07-09 17:57] MichaelBroughton commented on #147
Thx!

[2020-07-09 17:57] #147 closed

[2020-07-10 15:52] 95-martin-orion commented on #8
Kokoro builds for Windows, MacOS, and Linux are now required for all PRs. If the Kokoro build does not run, try adding the `kokoro:run` label to the PR.

[2020-07-10 15:52] #8 closed

[2020-07-10 16:19] 95-martin-orion opened #148 "Kraus operator sampling"
To enable trajectory simulation, qsim must accept gates represented by a set of Kraus operators. During execution, these gates will randomly select a Kraus operator to apply using weights determined by the action of each operator on the current simulation state.

So that this does not impact existing qsim behavior, all code which is specific to trajectory simulation should be kept separate from `q

[2020-07-10 16:35] 95-martin-orion opened #149 "Classical control"
In order to represent quantum teleportation, error correction, and other algorithms, qsim must support classical control. There are three key parts to this feature:

1. **Classical registers:** qsim must be able to track classical variables alongside the quantum state. These integer variables include measurement output (added in #141), user-specified input, and calculated values.
1. **Classical op

[2020-07-10 17:09] 95-martin-orion opened #150 "Improved intermediate state operations"
Currently, operations on intermediate states are supported by the `times_to_measure_at` parameter in `qsim.Run`. This is flexible, but may lack some functionality required for general-purpose intermediate state operations. This issue tracks the investigation of possible improvements to this use case.

[2020-07-10 18:09] 95-martin-orion commented on #130
PR #141 resolved this for the C++ side of qsim; I'll investigate what additional work/testing is needed on the Python side, if any.

[2020-07-14 22:20] 95-martin-orion commented on #130
Correction: some additional work is required in both qsim and qsimcirq to support surfacing measurement results to users.

In Cirq, measurements are represented as a map from measurement key (usually an identifiable string) to vectors of results (binary values for qubits, and larger int types for qudits). If the current result objects are preserved and a method is provided to query them, that shou

[2020-07-15 01:55] MichaelBroughton opened #151 "Support for tcmalloc."
Cloud colab for most of google uses tcmalloc instead of regular malloc. TFQ needs to be reliable under both. When running msan and asan tests for qsim, would it be possible to add a second pair of msan and asan tests where we run under `LD_PRELOAD ... libtcmalloc.so4 (or whatever it is)` ?

[2020-07-15 03:02] MichaelBroughton commented on #132
Yes, how do we feel about putting in a small standalone module like this in the repo here ?
https://github.com/tensorflow/quantum/blob/master/tensorflow_quantum/core/qsim/unitary_space_slow.cc

[2020-07-15 14:37] 95-martin-orion commented on #151
I believe we can add another build config to our `.bazelrc` to support this. It's important to note, however, that CI testing for qsim does not currently include the *SAN tests (although I don't think anything would stop us from adding them to `bazeltest.yml`).

[2020-07-15 21:20] #151 closed

[2020-08-01 19:00] andrewyatesg opened #163 "Support for Cirq MatrixGates of >2 qubits and ControlledGate"
I noticed that the qsim Cirq interface doesn't support MatrixGates that act on more than two qubits - can we get support for this?

I also noticed that if I create a controlled gate via something like this:

`ControlledGate(MyGate)(ctrl_qubit, *target_qubits)`

then qsim fails. For example `ControlledGate(cirq.X)(qubits[0], qubits[1])` returns the error

`ValueError: Operation doesn't satisfy the

[2020-08-03 15:08] 95-martin-orion commented on #163
Unfortunately, the two-qubit matrix gate limitation is based on a core assumption of qsim that _all_ gates act on at most two qubits. In my understanding, extending this to 3-qubit gates might be possible, but it would involve compromises in performance on 1- and 2-qubit gates.

Aside from manually decomposing these gates into 1- and 2-qubit gates, I don't know of a good workaround for this - @ser

[2020-08-03 15:26] MichaelBroughton opened #164 "Support `For` structs in UnitarySpace"
Follow up from #161 . UnitarySpace isn't currently taking advantage of the `For` structure in qsim right now. It would be nice to have it upgraded to use that instead of regular for loops.

[2020-08-06 17:42] we-taper commented on #163
Hi @95-martin-orion , I wonder if it is possible to add subroutines specifically for multi-qubit controlled gates and also prevent compromises in performance on 1 and 2 qubit gates? There is [a very simple algorithm](https://github.com/QuEST-Kit/QuEST/blob/c8b954abd1fd0a9f1a2e8fb98efed700f2ff75bf/QuEST/src/CPU/QuEST_cpu.c#L2173:6) that can simulate gates of very large controlled qubits with very s

[2020-08-10 17:02] #65 closed

[2020-08-10 17:02] #117 closed

[2020-08-12 19:54] 95-martin-orion commented on #130
Fixed in PRs #162 and #167.

[2020-08-12 19:54] #130 closed

[2020-08-15 20:04] #164 closed

[2020-08-17 20:52] #129 closed

[2020-08-19 17:46] MichaelBroughton commented on #132
This has been finished here: #161

[2020-08-19 17:46] #132 closed

[2020-08-25 23:02] kevinsung opened #183 "Attempt to decompose Cirq gates"
It would be nice if the qsim Cirq simulator tried to decompose gates it doesn't support into gates that it does, so that more general circuits can be passed directly to it. Is this a reasonable feature to add?

[2020-08-25 23:30] 95-martin-orion commented on #183
The qsimcirq interface should already decompose unknown gates to those supported by qsim:
https://github.com/quantumlib/qsim/blob/cb2b29e54ce7ccf3604465ef15f22837fc52585d/qsimcirq/qsim_circuit.py#L158-L161

There are a couple of cases where this is known **not** to work - some discussion of this is in #163. `ControlledGate`s are a notable example of this.

[2020-08-26 00:19] kevinsung commented on #183
Ah I was running an old version of qsimcirq. Oops. Thanks!

[2020-08-26 00:19] #183 closed

[2020-08-31 13:05] we-taper commented on #163
Hi qsim developers, we are filling [this RFC](https://docs.google.com/document/d/1ktgZVU-b56N6kNnD4EjzET7oBk94EZ2IspZ--ylTEVA/edit?usp=sharing) for an implementation of multi-controlled 1 qubit gates.

Looking forwards to comments!

[2020-08-31 15:51] sergeisakov commented on #163
Thank you for writing that. We are actually working on multi-qubit and multi-controlled gates. It is likely that multi-controlled gates will be implemented in a different way from as implemented in the QuEST simulator.

[2020-09-10 12:33] kevinsung opened #191 "QSimSimulator.run should only simulate once when there are no intermediate measurements"
Instead, it prints out
[code]
Is there a reason this simple optimization was not implemented?

[2020-09-10 13:59] 95-martin-orion commented on #191
This is meant to direct users to `QSimSimulator.simulate()`. That method simulates once and returns the full state vector, allowing the user to sample as needed.

The goal of this was to force users to be intentional about which execution method they want to use, but if there's no purpose for one-by-one sampling when all measurements are terminal, we could redirect that path to a simulate-and-samp

[2020-09-10 14:03] kevinsung commented on #191
I think we should perform the optimization automatically. In practice, without the optimization, the `run` method is essentially useless.

[2020-09-10 20:05] #191 closed

[2020-09-10 20:06] 95-martin-orion commented on #191
The redirect should now work at HEAD - I'll cut a fresh qsimcirq release shortly.

[2020-09-29 14:03] 95-martin-orion commented on #118
This documentation will be available in the upcoming devsite.

[2020-10-02 14:50] #128 closed

[2020-10-02 16:06] #74 closed

[2020-10-02 16:09] 95-martin-orion commented on #24
`pip install qsimcirq` will skip pybind installation if the user already has it installed. Including pybind11 in the qsim requirements was the correct choice.

[2020-10-02 16:09] #24 closed

[2020-10-05 15:27] 95-martin-orion commented on #131
I believe this is captured in docs for the upcoming devsite - @karlunho, can you confirm?

[2020-10-05 15:28] 95-martin-orion commented on #120
@karlunho, what is the distinction between this and #118? Do the API docs in the devsite clarify this sufficiently?

[2020-10-05 15:30] 95-martin-orion commented on #127
We have a simple comparison of qsim vs. the Cirq simulator in the [tutorial doc](https://github.com/quantumlib/qsim/blob/master/docs/tutorials/qsimcirq.ipynb), but I imagine this issue is looking towards a more complete benchmark.

[2020-10-05 15:53] #83 closed

[2020-10-22 07:05] MichaelBroughton commented on #163
@sergeisakov any updates on progress here ? This would definitely be a nice to have feature for TFQ.

[2020-10-22 14:12] 95-martin-orion commented on #163
PR #216 allows the C++ layers of qsim to recognize (but not execute) multi-controlled gates. The effort to support execution of these gates, as well as translating them from Cirq, is ongoing.

[2020-10-22 15:18] 95-martin-orion opened #217 "Prevent two gates from acting on a qubit at the same time"
NOTE: as this affects the deprecated circuit-from-file parser, it is considered low-priority.

Currently, the following gate structure is accepted by the circuit parser:
[code]
This would cause qubit 1 to be in two gates at the same time, which has undefined behavior. We should reject circuits of this form in the parser.

[2020-10-22 16:26] #217 closed

[2020-10-28 20:18] 95-martin-orion opened #226 "Unitary classes have no State type"
@MichaelBroughton

As of PR #188, `ApplyFusedGate` expects the calling Simulator class to define a `State` type for one of its arguments. UnitaryCalculatorBasic and UnitaryStateSpace have such an object, but name it `Unitary` instead. We need to fix the naming and add tests that verify `ApplyFusedGate` works for the Unitary classes.

[2020-10-28 20:26] 95-martin-orion opened #227 "Add code-generating scripts to the repo"
PR #225 was partially generated by a script which is not currently hosted on Github. For future reference and maintenance purposes, we should include that script in the qsim repo.

This issue is low priority relative to the ongoing multi-qubit work.

[2020-11-02 11:30] #226 closed

[2020-11-03 06:09] 4Dmovie commented on #163
Got this error when doing controlled-ry:
ValueError: Operation doesn't satisfy the given `keep` but can't be decomposed: cirq.ry(np.pi*0.8904292526573554).on(cirq.GridQubit(0, 1)).controlled_by(cirq.GridQubit(0, 0))
would be really helpful if it can do 2-qubit controlled gates like C-ry(theta) if not multiple controlled gate or multiqubit gates.
Thanks.

[2020-11-03 15:00] 95-martin-orion commented on #163
Thanks for highlighting this, @4Dmovie. Work on this issue has been focused on multi-controlled gates in order to provide a general solution to the problem, with Sergei's PR #231 being the most recent change submitted. I'll follow up with the qsimcirq support shortly, and will update this issue when the feature is available.

[2020-11-03 20:29] 95-martin-orion commented on #163
With PR #233, controlled gates requested in Cirq should now be able to take advantage of the support in qsim-core. In particular, @4Dmovie's example with controlled-ry should work at HEAD (but note that we haven't released this change, so you'll need to install directly from GitHub to pick it up).

Support for larger matrix gates is still in progress.

[2020-11-04 03:02] 4Dmovie commented on #163
Works for C-Ry now. Thank you so much for your team's amazing work! I'll let you know if further functionalities are demanded.

[2020-11-10 22:14] 95-martin-orion opened #237 "Make C++ to Python state vector copying cheaper"
Users have noted that calling `qsim_simulator.simulate()` from Cirq takes considerably longer than the qsim simulation itself. This is likely due to the added cost of copying results from C++ to Python, which in theory can be avoided.

To resolve this issue, the pybind layer should ensure that results from Python are captured in C++ objects without copying.

[2020-11-10 22:50] 95-martin-orion opened #238 "Provide an API for finding expectation values"
Related to [Cirq issue 3492](https://github.com/quantumlib/Cirq/issues/3492). This also provides partial relief for issue #237.

Similar to the existing API for state vector sampling, qsim should provide an API for returning expectation values from a simulation.

[2020-11-11 13:24] sergeisakov commented on #237
Calling `results = qsim_simulator.simulate()` from Cirq takes about the same time as the qsim simulation itself. The results are not copied from C++ to Python. Calling `results.state_vector()` from Cirq may take considerable time for large circuits. The problem is in Cirq not in qsimcirq, see line 215 in https://github.com/quantumlib/Cirq/blob/master/cirq/sim/state_vector_simulator.py.

[2020-11-11 15:36] 95-martin-orion commented on #237
Aha! That means this is a victim of [Cirq PR 3115](https://github.com/quantumlib/Cirq/pull/3115), which is meant to prevent mutation of the state vector in other simulators. I'll redirect this issue to Cirq.

[2020-11-11 15:36] #237 closed

[2020-11-19 06:15] JacobBeckey opened #242 "Unable to build qsimcirq on MacOS"
When running "pip install qsimcirq" on my mac I get the following two error messages:

<details>

[code]

</details>

**The rest of the error was:**

<details>

[code]
</details>

I would be grateful for any input as to how I could circumvent this issue. I am not sure how to interpret all of this error message, but the one part indicates

So, I attempted to use home brew to update my gcc but that

[2020-11-19 16:55] 95-martin-orion commented on #242
Hi @JacobBeckey,

Before digging too deeply into this, I'll note that we recommend our [Docker build instructions](https://github.com/quantumlib/qsim/blob/master/docs/docker.md) for running on MacOS. Since Docker builds run in a container, this would avoid any OS-specific issues you might be experiencing.

_If Docker isn't an option:_

The error messages point to an issue with CMake. Depending on

[2020-11-19 21:31] JacobBeckey commented on #242
Thank you for your response. I uninstalled cmake and updated and that did not work. I then downloaded the repo, changed the CMakeLists.txt file to set C++11 as the default. I saved the file, restarted my terminal, changed into the directory containing qsimcirq and then ran `pip install qsimcirq` and sadly got the same error as before. Any ideas?

 I sadly do not know enough programming to use Dock

[2020-11-19 21:43] 95-martin-orion commented on #242
Try this again but with `pip install .` (The `.` here tells pip to install from the current directory instead of the public release of qsimcirq.)

If that doesn't work...since you're installing qsimcirq, I assume you are also using Cirq? Depending on your use case, you may be able to get by using the built-in [Cirq simulators](https://github.com/quantumlib/Cirq/blob/master/docs/simulation.ipynb).

[2020-11-19 22:52] JacobBeckey commented on #242
Sadly that still did not work. I appreciate your help though.

Does `cirq.DensityMatrixSimulator()` work roughly the same as `cirq.mixedsimulator` then? The former ran fine on my machine and the latter was the root of this whole issue (it tells me to pip install qismcirq).

[2020-11-19 23:07] 95-martin-orion commented on #242
Where is `cirq.mixedsimulator` defined/documented? I wasn't able to find it in my local clone of Cirq. Assuming you're trying to do mixed-state simulation though, `cirq.DensityMatrixSimulator()` should work; note however that it operates on density matrices and therefore has a much lower maximum-qubit count than the basic `cirq.Simulator()`.

[2020-11-19 23:21] JacobBeckey commented on #242
Hey, this is the mixed simulator I was attempting to use: https://pennylane-cirq.readthedocs.io/en/latest/devices/mixed_simulator.html

But, okay, I really only need to work with 8 or so qubits max for what I am attempting to accomplish.

[2020-11-20 00:52] 95-martin-orion commented on #242
Ah, that checks out. Yes, `cirq.DensityMatrixSimulator()` will give the behavior you need and should have similar performance to `cirq.mixedsimulator`; both use the density matrix representation for quantum states.

I'll keep this issue open to highlight the need for non-Docker options on MacOS.

[2020-11-20 02:08] balopat commented on #242
FWIW I tried this quickly and went down the rabbithole on my mac. Not sure it will be easy but could be worthwhile.
I don't have a solution yet, some partial findings:

I started with the same error as @JacobBeckey.
After adding `set(CMAKE_CXX_STANDARD 11)` to CMakeLists.txt:
` clang: error: unsupported option '-fopenmp'`
After this I realized calling make results in the same error, and I know a b

[2020-11-22 05:47] dabacon opened #244 "Verbose boolean for QSimSimulator"
Currently the simulator will print to stdio if there are no intermediate results.  Often one want to run repeated simulations and does not want this to pollute the terminal.  Suggest that there be a verbose flag on the simulator to turn on and off this printing.

[2020-11-23 17:42] 95-martin-orion commented on #244
There is a verbosity flag in the `qsim_options` argument to `QSimSimulator`, e.g. `QSimSimulator(qsim_options={'v': 1})`. However, the default value of this flag is zero. We may be able to increase the verbosity level of certain log lines if you can identify which ones are causing issues, though.

(Part of me wants to suggest running with `qsim_options={'v': -1}` just to see what happens, but I ha

[2020-12-03 17:33] 95-martin-orion opened #249 "q32d14 tutorial crashes with OOM"
Possibly related to #245 - we don't have tests that explicitly check whether this notebook can run. Currently re-running to see if I can find the specs of the Colab instance this ran on.

Sergei, could this indicate a difference in memory usage between the multi-qubit fuser and the basic fuser, even with `f=2`?

[2020-12-03 17:36] 95-martin-orion commented on #249
Error message: `tcmalloc: large alloc 34359738368 bytes == 0x5d32000`

[2020-12-03 18:13] sergeisakov commented on #249
I think this is not a bug. The state vector size for 32 qubits is exactly 34359738368 bytes (32 GB). So it seems there is no enough memory for the state vector. The multi-qubit fuser uses more memory than the basic fuser in general but it should not be an issue here.

[2020-12-03 18:34] 95-martin-orion commented on #249
The bug here is the crashing tutorial. I was concerned it might highlight deeper issues, but if that's not the case then we probably need to replace the notebook with something less resource-intensive (e.g. q30d14 instead of q32d14).

CC'ing @jrossthomson in case we need to make that changeover.

[2020-12-03 19:39] jrossthomson commented on #249
Is it failing on the  n2-standard-16? There should be 64GB available.

[2020-12-03 20:03] 95-martin-orion commented on #249
I apologize, I had forgotten the intended usage of this tutorial. As stated at the top of the doc, it's not expected to survive in a default Google Colab kernel. Closing this as expected behavior.

[2020-12-03 20:03] #249 closed

[2020-12-03 22:01] 95-martin-orion commented on #163
qsimcirq v0.6.0 provides support for arbitrary gates of up to six qubits. This includes any gate that can decompose into the qsim gateset (defined in [gates_cirq](https://github.com/quantumlib/qsim/blob/master/lib/gates_cirq.h)) as well as any gate that has a matrix definition.

[2020-12-03 22:01] #163 closed

[2020-12-03 22:03] 95-martin-orion commented on #120
Resolved with the polished API docs on the devsite.

[2020-12-03 22:03] #120 closed

[2020-12-03 22:04] 95-martin-orion commented on #118
Duplicate of #120

[2020-12-03 22:04] #118 closed

[2020-12-03 22:04] 95-martin-orion commented on #131
Resolved as part of the devsite work.

[2020-12-03 22:04] #131 closed

[2020-12-03 22:12] balopat commented on #127
Cross ref https://github.com/quantumlib/Cirq/issues/1124 we could possibly implement this under the same suite of benchmarks.

[2020-12-04 20:51] 95-martin-orion commented on #227
Much of the code in #248 is also generated from a script, which we should also include in the repo.

[2020-12-04 21:37] #238 closed

[2020-12-16 00:12] rmlarose commented on #41
I was going to raise an issue on unexpected behavior when providing initial states, then I found this one. Until a longer-term solution emerges, do you think it would be worthwhile to raise a warning/error when `initial_state` is not `None`? (This certainly would have saved me some debugging time!)

[2020-12-16 16:20] 95-martin-orion commented on #41
That's a good point, @rmlarose - I'll add an error for this.

@sergeisakov, what do you have in mind for this? As it stands users need to manually add the X gates anyways, so in lieu of a more efficient solution injecting X gates at least wouldn't make performance any worse than it already is.

[2020-12-16 16:36] sergeisakov commented on #41
I was wrong.  Adding the necessary X gates should not lead to any performance overhead as those X gates will be fused to some other gates. However, adding X gates will support only classical initial states. The support for general initial states requires some additions to qsimcirq (note that the qsim library supports general initial states) in `pybind_interface/pybind_main.cpp` and in `qsimcirq/qs

[2020-12-28 22:41] sorin-bolos opened #259 "Unable to install qsimcirq on Windows"
I tried to install qsimcirq on my Windows machine by running `pip install qsimcirq`. I have a virtual environment with python 3.7 and I've already installed CMake.

I get the following error
[code]

(The main error is ```C:\Users\Sorin\AppData\Local\Temp\pip-install-2moej2xu\qsimcirq_2bac09547c194fe49942fe3d07d88005\pybind_interface\pybind_main.cpp(409,7): error C3861: 'posix_memalign': identifier

[2020-12-30 17:29] 95-martin-orion commented on #259
Hi @sorin-bolos,

Running Jupyter notebooks using a Docker image should work - it's similar to the GCP setup process, but without a separate VM.

1. Install Docker.
2. From the qsim directory, run `docker build jupyter`. This may take several minutes to complete, but in the end you should see something like `Successfully built 05eeaa875462`. That number is your container ID.
3. Run `docker run -p

[2021-01-03 17:46] sorin-bolos commented on #259
That worked for me, thanks!
But it would be nice if it could be called from Windows and not needing to build it from source code. Either by installing directly on Win or by having the docker container act as a server.

[2021-01-06 22:06] 95-martin-orion opened #261 "Docker python tests broken at HEAD"
Running the following test at HEAD (following the format of the Docker CI tests) fails:
[code]
Error logs:
[code]
This bears similarity to a recent Cirq issue: see [Cirq PR #3572](https://github.com/quantumlib/Cirq/pull/3572) and related issues. That issue was only partially traced before opting to turn down Python 3.6 support as an alternate fix.

[2021-01-06 22:09] 95-martin-orion commented on #261
The Cirq issue seemed to be related to [this pip issue](https://github.com/pypa/pip/issues/9215), but the qsim failure doesn't have the same log explosion signal.

[2021-01-06 22:58] balopat commented on #261
Why do we need `numpy~=1.16` in qsim? Can we relax that constraint? I think that's the root cause of the issue. With regular `pip install cirq` you get `numpy 1.19.5` which works with pandas 1.2.0.

[2021-01-07 00:06] balopat commented on #261
After a bit of digging it turns out `RUN apt-get install -y python3-pybind11` pulls in numpy 1.16.2 and then `pip3 install cirq` does not override the version. Thus, I'd recommend using `pip3 install cirq --force-reinstall` to enforce the right numpy version.

[2021-01-07 03:01] #261 closed

[2021-01-11 22:44] #41 closed

[2021-01-12 00:06] MichaelBroughton opened #263 "Multi qubit gate support for unitary"
In order to have full support for multi qubit control gates in tensorflow quantum, we need to be able to use multi qubit control gates in the unitary calculator: https://github.com/quantumlib/qsim/blob/master/lib/unitary_calculator_basic.h#L112 . Which is blocking us on: https://github.com/tensorflow/quantum/issues/422 .  It looks like now all of the gate application logic in `simulator_***.cc` is

[2021-01-12 17:25] sergeisakov commented on #263
Yes, all of the gate application logic in `simulator_***.cc` is generated by a script. However, it doesn't have to be generated by a script. A generic version can be provided (with some performance loss for AVX* and perhaps for SSE) or function templates can be used (without performance loss). Code generation really makes sense only for AVX and AVX512 versions of the simulator. The unitary calcula

[2021-01-12 18:13] MichaelBroughton commented on #263
So as somebody who helps maintain this repo and is responsible for most of the major contributions by far, you think you aren't the person to do it :P ?

Either way, I can probably struggle my way through implementing this, if you really don't want to at any point. Would we prefer to do that instead ?

[2021-01-22 15:04] #263 closed

[2021-01-25 20:23] 95-martin-orion opened #270 "Expose trajectory simulation methods through qsimcirq"
Trajectory simulation is currently available in qsim-core, but inaccessible to Cirq users. The qsimcirq translation layer must be updated to accept noisy circuits (i.e. circuits with Channels and Mixtures) and route them to the proper qsim-core methods.

[2021-01-25 20:28] 95-martin-orion opened #271 "Implement Cirq expectation value API"
Cirq has introduced an API for requesting expectation values from a simulator: https://github.com/quantumlib/Cirq/issues/3492

We need to implement this interface in qsimcirq. This should be mostly orthogonal to #270, but all combinations should be supported in the end (noiseless full-state, noisy full-state, noiseless EVs, noisy EVs).

[2021-01-26 02:07] MichaelBroughton opened #273 "Increase test coverage on Apply*** Methods"
In light of #272 , it might be worth making sure there are a few more tests around the Apply*** methods.

[2021-01-27 17:54] 95-martin-orion commented on #270
An important point to consider in this space: Kraus operators fed into the trajectory simulator require lower-bound probabilities for their selection within a channel. Since these aren't inherently provided by Cirq, we either need to allow users to define lower bounds manually (likely in `QSimCircuit`) or provide methods to generate them automatically.

[2021-01-29 01:16] mpharrigan commented on #242
I've simplified @balopat 's instructions to avoid modifying Makefiles :)

- add `set(CMAKE_CXX_STANDARD 11) to CMakeLists.txt (**_we should do this in master_**)
- `brew install llvm libomp`
- `CC=/usr/local/opt/llvm/bin/clang CXX=/usr/local/opt/llvm/bin/clang++ LDFLAGS=-L/usr/local/opt/libomp/lib python setup.py develop`

Note, the three environment variables being set; You can put this in your `

[2021-01-29 02:15] mpharrigan commented on #101
Has there been any development on this? I suspect it will enable big savings for things like XEB where we have one big circuit that we want to know the wavefunction at various steps

[2021-01-29 02:25] mpharrigan commented on #101
on an XEB workload:

 - Cirq w/intermediate is 5x faster than Cirq (simulate each truncated circuit separately)
 - Speedup increases to 7x using `multiprocessing` on my laptop for each
 - QSim simulating each truncated circuit separately is 3x faster than cirq
 - But QSim simulating each truncated circuit separately is 1.75x slower than Cirq w/intermediate
 - But when using `multiprocessing` for b

[2021-01-29 02:29] mpharrigan opened #276 "qsim_options is undocumented"
This is used in the constructor of `QSimSimulator` and looking at the wrapper code there are defaults for "t" "f" and "v" but there's no documentation in the python code

[2021-01-29 02:44] mpharrigan commented on #242
We'd have to be very careful packaging this as a wheel, though, as it links to our homebrew libomp

[code]

[2021-01-29 02:55] mpharrigan commented on #101
Since we only need the results after each "cycle" (and indeed, only for certain cycle settings) it could be worthwhile to

 1) improve the cirq interface to have some notion of "step by this many moments". At a minimum, this could prevent shuttling around some wavefunctions that I'm just going to discard anyways
 2) tell qsim what the minimum step I'm going to request is, so it can fuse except res

[2021-01-29 03:30] balopat commented on #242
Super cool! Thanks for adding to the solutions! I confirm that this compiles.

[2021-01-29 15:48] sergeisakov commented on #101
I guess there's been no development on this. The core qsim library supports boundaries and can return the wavefunction at various steps. One sample C++ application (qsim_amplitudes.cc) saves intermediate results. The qsimcirq interface doesn't support that.

[2021-01-29 16:25] 95-martin-orion commented on #101
I think it would be possible to construct this with a combination of `CircuitOperation`s and existing qsim-core methods. A rough outline for what this would look like:

1. When creating the circuit, the user condenses each "step" into a set of parallel `CircuitOperation`s. Since `CircuitOperation`s exist within a single moment of the outer circuit, this allows us to keep the "step moment-by-moment

[2021-01-29 18:14] 95-martin-orion commented on #276
We have docs for this, but they're kind of all over the place. I'll consolidate them into the python docstring.

[2021-01-29 22:44] #276 closed

[2021-02-04 16:05] 95-martin-orion opened #283 "qtrajectory overwrites initial states"
Came across this in testing for qsimcirq integration: input states for qtrajectory get overwritten.
https://github.com/quantumlib/qsim/blob/6ec7e8ded104b984e49f743dd8c5f7566276ff92/lib/qtrajectory.h#L239-L246

Tried the obvious solution in #282, but that broke several tests.

[2021-02-05 17:35] #283 closed

[2021-02-10 09:06] MichaelBroughton opened #288 "Ensure 1:1 parity with Cirq channels"
In order to make life easier for qsimcirq translations and TFQ translations, would it be possible to implement kraus operators / channels that have one to one functionality with Cirq ?

In python I can just do something like:

[code]
and then place it inside of my circuit.

In qsim I can construct channels and kraus ops but it looks like I have to do things kind of by hand with "custom" gates. It

[2021-02-10 16:22] 95-martin-orion commented on #288
+1 - this seems like a nice feature to support our C++ qsim users.

In the meantime, Mike, you can take a look at our Cirq-to-qsim translations in PR #287. In particular:
- `translate_cirq_to_qtrajectory` in `qsim_circuit.py`
    - Extracts the key features of channels and mixtures, then sends them to `add_channel`
- `add_channel` in `pybind_main.cc`
    - Converts the features from `translate_cir

[2021-02-10 17:01] MichaelBroughton commented on #288
Thx. Left a few general comments on things. I think in our case it'd be worth waiting for a a nice way to create the 1:1 Cirq channels and get this solved. Doing the workarounds on gates back in the day and then moving onto `cirq_gates.h` once they were added wasn't a ton of fun so I think we might wait until this is in, we're in no rush on this feature for TFQ until there's a clean way to do it :

[2021-02-10 21:32] 95-martin-orion opened #289 "Reconsider `posix_memalign` in pybind"
Some of the simulator methods in `pybind_main.cc` call `posix_memalign`, which might not work for Windows. We should either remove this or route around it on Windows machines, similar to [`vectorspace.h`](https://github.com/quantumlib/qsim/blob/master/lib/vectorspace.h#L74).

[2021-02-11 18:00] #270 closed

[2021-02-11 18:01] 95-martin-orion commented on #289
Resolved by #287.

[2021-02-11 18:01] #289 closed

[2021-02-23 21:00] 95-martin-orion opened #293 "Align noisy simulations in qsimcirq with API expectations"
Identified in #292. Repeated simulation of a circuit is often necessary when that circuit has non-unitary intermediate gates, whether those gates represent measurements or noise. Currently, qsimcirq has no special handling for this behavior; each simulation is entirely ignorant of previous simulations.

By either preserving information in qsimcirq objects (QSimSimulator and QSimCircuit) or providi

[2021-02-23 21:01] 95-martin-orion commented on #293
I'm bringing this to the Cirq design sync for discussion - a new interface would provide the most benefit here, but it would also require the most effort, both in development and long-term maintenance.

[2021-02-23 22:25] 95-martin-orion commented on #293
Discussion from Cirq meeting: `QSimSimulator` should be initialized with some kind of "fidelity" or "repetitions" parameter, which then dictates how many repetitions it uses for noisy simulations (both for expectation values and full state vector). This only requires qsimcirq changes, which should keep things simple.

The general consensus was that the existing "simulate_expectation_values" API al

[2021-02-23 22:30] #271 closed

[2021-02-23 23:24] 95-martin-orion commented on #293
To consider: how should `qsim_sample` (returns measurement results) interact with the "repetitions" parameter? I don't see a good way to aggregate across different trajectories - should we treat "sample from noisy circuit" as an invalid request?

[2021-03-02 00:24] Wuggins opened #296 "ParamResolver constructed with 0 and 1 values raises IndexError when fed to simulate"
I'm happy to provide a minimal example if it would be helpful, but the issue is simple to describe. When a ParamResolver is constructed with parameters that take only the values 0 and 1 simulate fails with the following kind of error message:

[code]

I determined that this issue can be fixed by casting the 0 and 1 values of my parameters to int before constructing the ParamResolver, suggesting th

[2021-03-02 15:56] 95-martin-orion commented on #296
I'm unable to reproduce this error with the following code:
[code]
Could you provide the code snippet that produced this error? `IndexError: map::at` suggests that some parameters in your circuit were not specified in one or more parameterizations provided; for instance, I _can_ reproduce the error by removing `y: False` from the second parameterization above.

[2021-03-02 20:05] Wuggins commented on #296
Hi Orion,

I was right that it was a type issue but it was more subtle than that. This code produces the error:

[code]

I don't know if we want to cast np.int64 to int (even with some checking to make sure that the value is in a suitable range) but it would be great to at least raise an informative error.

[2021-03-02 20:38] 95-martin-orion commented on #296
I can reproduce the error with that snippet - and this check is almost certainly responsible:
https://github.com/quantumlib/qsim/blob/d1f7680b0ffc30e320ea060aac924c32ba35a802/qsimcirq/qsim_circuit.py#L218-L221

IIRC, Cirq has some workarounds for this in its ParamResolver code. I'll try to apply the same fix here.

[2021-03-03 15:04] #296 closed

[2021-03-04 00:08] balopat opened #302 "Add nightly integration test with Cirq master"
Similar to [TFQ](https://github.com/tensorflow/quantum/actions/workflows/cirq_compatibility.yaml) qsim could benefit from knowing about breaking changes earlier rather than later coming from Cirq.

[2021-03-04 22:47] #293 closed

[2021-03-04 22:52] 95-martin-orion opened #306 "Align qsimcirq with Cirq v0.10.0"
Cirq v0.10.0 is due to release by the end of the week (Mar 5, 2021). Once it releases, we should go back through the qsimcirq code and update dependencies and tests to use newly-available Cirq features.

This is mainly directed at the new expectation value functionality in qsimcirq and Cirq's `SimulatesExpectationValues`.

[2021-03-05 09:38] #288 closed

[2021-03-10 02:13] MichaelBroughton opened #309 "[Feature] Support "uncomputing" a particular trajectory"
For features in TFQ we rely on the ability to uncompute from the final state of a circuit back to the |00...> state. Would it be possible for the trajectory API in qsim to provide enough information to the users so that they could easily uncompute from a particular final state in a trajectory back to the |00...> state @sergeisakov ?

[2021-03-10 18:28] sergeisakov commented on #309
The trajectory API provides such information. The quantum trajectory simulator can collect the indices of sampled Kraus operators. This information can be used to uncompute from the final state back to the initial state. For mixtures, this can be done roughly as follows.

[code]

Note this doesn't work for general channels as one needs to use inverse channel matrices.

[2021-03-12 00:03] MichaelBroughton opened #311 "Support other for objects in qtrajectory"
In TensorFlow Quantum we have our own version of the parallelfor that uses TensorFlow's threadpool. Here's a snippet:
[code]
Inside of [qtrajectory](https://github.com/quantumlib/qsim/blob/master/lib/qtrajectory.h#L199) there is:
[code]
Which doesn't allow the user to choose anything other than the number of threads they would like to supply to whatever comes out of `formux.h`. Could this behavior

[2021-03-12 13:04] sergeisakov commented on #311
This is a good point. Thanks for catching that. Yes, there is a way around.
[code]
However, this solution is not very good. I'll fix the code to support TFQ in a cleaner way.

[2021-03-18 13:20] #311 closed

[2021-03-19 17:37] 95-martin-orion commented on #309
@MichaelBroughton, does the behavior demonstrated in #310 resolve this issue?

[2021-03-19 18:01] 95-martin-orion opened #313 "Use wheels in pypi packaging"
The goal of this issue is to resolve #242 and #259.

Currently, `pip install qsimcirq` requires building qsim locally. This is fine for Linux, but (as seen in the issues above) often encounters difficulty on MacOS and Windows. In order to resolve this, we need to replace the current packaging with a portable wheel as described by [PEP 513](https://www.python.org/dev/peps/pep-0513/).

[2021-03-19 22:37] MichaelBroughton commented on #309
Yes, I was hoping to have a method that works for the general channel case, but I guess no luck.

[2021-03-19 22:43] #309 closed

[2021-03-24 18:28] 95-martin-orion commented on #313
Comment from @Strilanc: cross-platform wheels may be tricky. Consider looking into `cibuildwheel`, which is how [Stim](https://github.com/quantumlib/Stim) builds for Mac and Windows.

[2021-03-24 18:35] Strilanc commented on #313
Stim doesn't use cibuildwheels to make the wheels, it uses cibuildwheels to verify that the source compiles on other platforms. You *can* use it to build the wheels, but I'm not confident they will generalize beyond the build machines when AVX instructions are involved.

[2021-03-25 12:36] TimoEckstein commented on #127
Hello,

I compared qsim with the standard Cirq simulator on 2 AMD EPYC 7502 CPUs (64 cores) with 512 RAM as well as both with the best GPU Cirq simulator (QuLacs-GPU), I was able to find, on a v100 GPU among others (see plot 1).
For this comparison, I used the runtime of the Quantum Fourier Transformation (QFT) dependent on the simulated amount of qubits. One reason for choosing QFT as a simulator

[2021-04-19 17:09] verult opened #320 "Consider adding `noise` parameter to QsimSimulator constructor"
`cirq.DensityMatrixSimulator` includes a [`noise`](https://quantumai.google/reference/python/cirq/sim/DensityMatrixSimulator) parameter in its constructor. Consider adding the constructor to `QsimSimulator` as well now that quantum trajectories are in place.

On the other hand, the noise parameter is easily processed with one line:
[code]

[2021-04-21 03:44] verult opened #323 "Setting qubit_order to reverse(qubit_list) doesn't work for QSimSimulator"
Running the following

[code]
yields `ValueError: Unexpected extra qubits: {cirq.LineQubit(0), cirq.LineQubit(1)}.` However `list(reversed([q1, q0]))` works. An Iterable type isn't handled correctly for some reason it seems like.

Not wrapping it in a `list()` works for `cirq.Simulator()` and `cirq.DensityMatrixSimulator()`.

The expected type for `qubit_order` is `cirq.ops.QubitOrderOrList`, whic

[2021-04-21 16:01] 95-martin-orion commented on #323
The root cause appears to be a reuse of `qubit_order` in some of the simulator methods:
https://github.com/quantumlib/qsim/blob/53e694721b0c112956a2ab7cd7f5d235d3973a3b/qsimcirq/qsim_simulator.py#L359-L361
...which will fail if the `qubit_order` provided is an iterable. I'll have a PR out with the fix shortly.

[2021-04-21 17:55] #323 closed

[2021-04-23 16:40] maffoo opened #327 "QSimSimulator does not respect "idle" qubits"
In the cirq simulator, the `qubit_order` parameter specifies the "basis" in which the state vector will be expressed, and this can contain extra "idle" qubits that do not run any gates. QSimSimulator returns a resulting state vector with the wrong shape and also raises an exception when trying to produce the string representation of the result:
[code]

[2021-04-23 17:07] maffoo opened #328 "Format python code with black?"
The qsimcirq code looks like it follows internal google formatting style (two-space indent is a dead giveaway :-) ). I think it would be nice to use [black](https://github.com/psf/black) for formatting to be consistent with other open source projects, such as cirq itself (see https://github.com/quantumlib/Cirq/blob/master/check/format-incremental#L127). Setting up some infrastructure for autoforma

[2021-04-26 17:17] 95-martin-orion opened #329 "Kokoro builds sometimes ignore failures"
Seen in #322, where the "passing" Kokoro build links to the MacOS run (which passed), but the Windows build failed.

My best guess for now is that Kokoro determines pass/fail based on the first completed test. It seems like there are some tools for chaining/grouping Kokoro tests; I'll look into those.

[2021-04-26 17:31] maffoo opened #330 "cirq.IdentityGate only supported up to 6 qubits"
Seems like we should be able to support identity gates of any size by treating them as "no-ops".

[2021-04-26 17:56] 95-martin-orion commented on #330
This is easy enough to implement - we can just remove the explicit identity conversion rule:
https://github.com/quantumlib/qsim/blob/795293072ef0f5f6b2bc099e94c5080c5e22473d/qsimcirq/qsim_circuit.py#L34-L43

This will fall back on the decompose behavior for `IdentityGate`, which produces no-ops.

[2021-04-26 18:29] 95-martin-orion commented on #327
It's even worse in my experience: the QSimSimulator simply segfaults and dies.
[code]

Until this is fixed, the simplest workaround for this is to add identity gates on any qubits you want to appear in the final state; then `qubit_order` should reorder them correctly.

[2021-04-26 18:33] 95-martin-orion opened #332 "Kokoro webhook frequently fails"
See webhook status [here](https://github.com/quantumlib/qsim/settings/hooks/211606685) (requires admin role). This may be a Google-internal issue.

[2021-04-26 18:42] #306 closed

[2021-04-26 18:49] maffoo commented on #327
Yes, that's the approach I've taken.

I think this is a problem with the cirq simulator interface, and in fact it's not clear to me why the cirq simulator behaves as it does. In general a `QubitOrder` is just a way to compare qubits and not necessarily an explicit list, but it seems the simulator treats explicit lists specially. I think a better API would be to specify an explicit "basis" to use (

[2021-04-26 18:52] 95-martin-orion commented on #330
One issue with decomposing to no-ops, related to #327: if an identity gate is the only gate on any qubits, they will be ignored in the results. I'll look into fixing that issue before making this change.

[2021-04-26 19:02] maffoo commented on #330
Should be ok if we look at `circuit.all_qubits()` _before_ decomposing. Or, could do a custom decomposition into single-qubit identities here.

[2021-04-26 19:33] maffoo opened #333 "QSimSimulator ignores initial_state when not using AVX2"
The following does not work on a machine without avx2 support:
[code]
Here's the output of lscpu:
[code]
This works as expected on an avx2-capable machine:
[code]

[2021-04-26 20:34] maffoo opened #334 "[feature request] Compile one version of qsim and select avx2 or sse at runtime"
This would be convenient for testing and comparing simulators on different instruction sets from python.

[2021-04-26 20:35] 95-martin-orion commented on #333
@maffoo, could you try this with 2 and 3 qubits and report the results? qsimcirq ought to be AVX/SSE agnostic, but it's possible that certain operations in the Python-to-C++ translation are specific to AVX.

I'm specifically suspicious of `NormalToInternalOrder`, which mangles the qubit order to better align with AVX/SSE. If it's not actually needed for SSE, what I expect to see with 2 or 3 qubits

[2021-04-26 21:07] maffoo commented on #333
I see the same thing with 2 or 3 qubits:
[code]

[2021-04-27 21:41] maffoo commented on #333
Looks like the sse simulator also ignores integer initial states:
[code]

[2021-04-27 23:00] maffoo commented on #333
Ugh, I was inadvertently using an old version of qsim (0.6.0). Tried again with 0.9.2 and setting `initial_state` works as expected. Sorry for the false alarm! :-)

[2021-04-27 23:00] #333 closed

[2021-04-28 12:53] maffoo opened #336 "Exception when simulating circuit with empty moments"
Some multi-qubit circuits with empty moments cause an error when simulating:
[code]
Changing the circuit to have gates on both qubits either before or after the empty moment currently works:
[code]

[2021-04-28 14:35] #327 closed

[2021-04-28 14:35] #330 closed

[2021-04-29 15:36] 95-martin-orion commented on #336
Not quite sure why gates on both qubits fixes the issue, but the root cause is a bad `max` expression in the circuit translator. Shouldn't be too hard to fix.

[2021-04-29 16:58] 95-martin-orion opened #339 "ASAN issue in AVX512"
Seen in #337. Copy of comment:

[2021-04-29 17:02] #336 closed

[2021-04-29 17:37] 95-martin-orion commented on #339
Apparently this failure occurs when Github Actions selects a runner that supports AVX512. The runners [GHA chooses from](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#cloud-hosts-for-github-hosted-runners) are [Dv2 and DSv2](https://docs.microsoft.com/en-us/azure/virtual-machines/dv2-dsv2-series), which include Cascade Lake and Skylake (which support AV

[2021-05-04 14:23] 95-martin-orion commented on #332
Google-internal tracking issue for this has been closed to my satisfaction; we can re-open it if the issue persists.

[2021-05-04 14:23] #332 closed

[2021-05-04 18:23] 95-martin-orion commented on #339
GHA issue has been redirected to the [Github Actions forum](https://github.community/t/allow-users-to-select-runners-with-avx512-support/178260). I'll keep an eye on this, but we probably should assume that AVX512 will not be available for Github Actions in the near term.

[2021-05-05 15:29] 95-martin-orion opened #340 "Reduce circuit translation overhead"
Memoizing Cirq-to-qsim circuit translations in the QSimSimulator should reduce the overhead cost of circuit translation.

A more complete solution requires Cirq-level redesign of the simulator API, including [Cirq #4064](https://github.com/quantumlib/Cirq/issues/4064) to prevent results from multiple repetitions from being stored in memory simultaneously.

[2021-05-05 19:45] verult commented on #340
I'm happy to take a look at this.

[2021-05-05 22:38] 95-martin-orion commented on #328
Reopening to also track adding CI tests for python format.

[2021-05-11 15:25] #328 closed

[2021-05-12 18:27] 95-martin-orion opened #345 "Pin cirq version to nightly release"
Due to the quarterly release cadence of Cirq, features which would be convenient for use in qsim are occasionally unavailable in qsim. The features introduced in #306 are a recent example of this. One potential solution for this issue is to pin the cirq version in `requirements.txt` to a Cirq nightly release (e.g. `cirq == 0.11.0.dev20210429195408`).

If we go forward with this change, all subsequ

[2021-05-13 19:58] laurynasas opened #346 "Windows Python wheel fails with heap corruption exception"
As part of #313 issue we are building a PyPI wheel for Windows platform based on Github Actions Windows Server 2019 virtual environment. The wheel is successfully built using `python3 setup.py sdist bdist_wheel` that utilizes `cmake-3.20` and for building and `MSVC 14.28.29910` for compilation of the underlying libraries. The build also uses `pybind11` to create binding between Python and C++ libr

[2021-05-20 17:46] maffoo opened #349 "Typechecking qsimcirq fails intermittently"
We've been having intermittent failures when running mypy to typecheck our code which uses qsimcirq:
[code]
This puts mypy in a bad state that can only be recovered by deleting mypy's cache directory. The full traceback doesn't reveal much:
[code]
There may be a legitimate mypy bug at play, but it might be worth looking at the type annotations in qsimcirq to see if there's anything suspicious. I w

[2021-05-21 17:58] 95-martin-orion opened #351 "`flynt` breaks release pipeline"
This line in setup.py generates a `SyntaxError: invalid syntax` in the release pipeline:
https://github.com/quantumlib/qsim/blob/6c226ec9d7693071c468c9d8df8458f1f9884fb3/setup.py#L49
This was automatically formatted from the following by `flynt`:
https://github.com/quantumlib/qsim/blob/49121450601d0e0857f50812c5f00224ab70c37f/setup.py#L49-L51

It's unclear why this breaks the release, although it

[2021-05-24 13:33] laurynasas commented on #346
After further investigation I tracked down the failure to the method `SimulatorHelper#release_state_to_python`. The heap corruption comes from `pybind11:capsule`:
[code]
which [according to the StackOverflow](https://stackoverflow.com/a/44682603/7434550) is used to deallocate memory of the returned Numpy array when it's no longer used.

Removing the capsule from the base of the `py::array_t<float>

[2021-05-24 14:08] 95-martin-orion commented on #351
Confirmed: f-strings are not supported before Python 3.6, and the release script was using Python 3.5.

Since we use f-strings elsewhere in the Python layer and Cirq already requires Python 3.6 or later, my preferred solution to this is to bump the Python requirement forward and leave setup.py as-is.

[2021-05-24 16:55] 95-martin-orion commented on #351
It turns out that the Kokoro machines that drive our release pipeline _only_ have Python 3.5. Unless I can find a workaround to use Python 3.6 on those machines, we'll need to disable `flynt` in `setup.py`.

[2021-05-25 14:51] 95-martin-orion commented on #351
The v0.9.5 release provides a workaround by disabling `flynt` on `setup.py`. In the long term, we'll want to migrate our release pipeline over to Github Actions and re-enable `flynt`.

[2021-05-25 14:51] #351 closed

[2021-05-25 15:23] 95-martin-orion opened #354 "Clean up qsim import hierarchy"
It's been pointed out that the use of `from ${MODULE} import *` in the `qsimcirq/__init__.py` file is not recommended. We should clean these up to behave more like the Cirq import hierarchy. Requirements for this:

- Only "public" classes and methods should be exposed through `__init__.py`
- Users should be able to address public qsimcirq objects as `qsimcirq.<object>`, instead of `qsimcirq.<modul

[2021-05-25 16:30] 95-martin-orion commented on #346
@sergeisakov, are you familiar with this `py::capsule` issue? IIUC, the concern here is that removing `py::capsule` may cause the vector to be copied, or cause a memory leak down the line - do you know if that is the case?

[2021-05-25 17:02] sergeisakov commented on #346
No, I am not familiar with this issue. I guess the problem might be that `py::capsule` in `SimulatorHelper#release_state_to_python` uses `delete reinterpret_cast<float *>(data);` to deallocate memory and this causes the heap corruption. @laurynasas could you test that by putting the capsule back and by replacing `delete reinterpret_cast<float *>(data);` with `detail::free(data);`?

[2021-05-25 19:25] laurynasas commented on #346
@sergeisakov Thank you for the input, that indeed fixed the issue! I opened a PR with changes.

[2021-05-26 10:26] #346 closed

[2021-06-01 15:43] 95-martin-orion commented on #329
A fix was rolled out in the internal Kokoro pipeline and verified in #359 (no Github changes required).

[2021-06-01 15:43] #329 closed

[2021-06-10 18:09] 95-martin-orion opened #361 "Detect SIMD architecture from qsimcirq"
Related to #313. In order for users to have access to the instruction set their machine supports, we need to allow qsimcirq to dynamically choose between the different simulator implementations present in C++. Currently this is handled by the use of `simmux.h` in the pybind layer, but to enable the use of wheels additional handling may be required.

[2021-06-11 10:48] sergeisakov commented on #361
One can add a template parameter to `SimulatorHelper` and modify functions like `qsim_simulate_expectation_values`. That is, for instance,

[code]

can be modified as follows

[code]

We need to implement `DetectInstructions` that detects the SIMD instruction set. Also some additional changes are needed because not every case is covered by `SimulatorHelper`.

[2021-06-11 13:43] 95-martin-orion commented on #361
I think we can fulfill #334 with this by allowing users to pass in `instruction_set` to these methods (defaulting to `DetectInstructions` if not specified).

@sergeisakov, do you have the bandwidth to take this item? Otherwise we can check if @laurynasas would be interested in implementing the fix.

[2021-06-11 14:26] laurynasas commented on #361
@95-martin-orion I'd be happy to work on this it's just that it would take me some time to set up and get started, but if that's ok sign me up!

[2021-06-11 14:47] sergeisakov commented on #361
@laurynasas, thank you! I can help you with `DetectInstructions`.

[2021-06-17 15:39] laurynasas commented on #361
I had some time to look at this, do we want to have something like [this](https://github.com/quantumlib/qsim/compare/master...laurynasas:simd-runtime-detection?expand=1)?

While this compiles and produces the Python wheel, I get the following error `Fatal Python error: Illegal instruction
` when trying to run `qsimcirq_tests` on Github Actions VMs with the following CPUs (potentially without `AVX5

[2021-06-17 16:17] sergeisakov commented on #361
Why do you use `-march=knl`? This flag is for the Knights Landing architecture (Intel Xeon Phi processors). Anyway, it seems this approach is not going to work. Sorry about that. The compiler can use AVX512 instructions even for `SimulatorBasic` if `-mavx512f` is specified. Probably we need four separate compilation units.

[2021-06-18 19:38] 95-martin-orion opened #363 "Consider switching to self-hosted Github Actions runners"
[Self-hosted runners guide](https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners)

Using self-hosted runners (e.g. on Google Cloud) would give us the ability to test qsim with AVX512 instructions and (eventually) GPU support - neither of which is currently possible with the default Github Actions runners.

[2021-06-23 17:37] 95-martin-orion commented on #363
Unfortunately, the Alphabet enterprise does not have its own self-hosted Github Actions runners, and current guidance prohibits the use of individually-configured self-hosted runners for public Github repositories. The recommended alternative (for the time being) is to use Kokoro for these tests.

[2021-06-23 19:54] #349 closed

[2021-06-23 19:55] #354 closed

[2021-06-30 18:10] aktech commented on #363
Hi @95-martin-orion I am the creator of [Cirun.io](https://cirun.io), "GPU support" and "Self-hosted" caught my eye.

FWIW I'll share my two cents. I created a service for problems like these, which is basically running custom machines (including GPUs) in GitHub Actions: https://cirun.io/

It is used in multiple open source projects needing GPU support like the following:
- https://github.com/pyst

[2021-07-01 15:49] 95-martin-orion commented on #363
Hi @aktech! Thanks for your recommendation, and for showing an interest in qsim. Unfortunately, we won't be able to make use of Cirun here as Google policy prevents us from using third-party applications on Github.

[2021-07-02 22:29] MichaelBroughton opened #373 "Micro-benchmark ApplyGate* for MPS"
MPS ApplyGate* methods are reasonably fast. However different approaches / optimizations done around micro-benchmarking have not been carried out in great length. This would be a great beginner project to setup something like google-benchmark around the `ApplyGate***` methods for the MPS simulator and then tweak the code for best possible performance.

related: https://github.com/quantumlib/qsim/p

[2021-07-10 00:17] verult commented on #340
For my use case of running trajectory simulations with multiple repetitions, memoizing only the last circuit is sufficient. Are there other use cases where a larger data structure is necessary?

[2021-07-10 00:30] 95-martin-orion commented on #340
In the near term, one possible use case for multiple-circuit memoization is "chunked circuits". Since qsim does not yet support intermediate state simulation, if a user wants to get the state partway through the circuit they must simulate the "chunk" before that point, get the result, then use that result as the input for the next "chunk".

Repeated simulation of such a circuit would benefit from

[2021-07-10 01:04] verult commented on #340
We could potentially add a new constructor parameter `circuit_memoization_size` to indicate how many chunks should be kept.

Looks like `Circuit`s are not hashable (presumably because it's mutable?). Are there other hashing strategies offered by Cirq, or do we have to resort to a linear search?

[2021-07-10 01:23] 95-martin-orion commented on #340
There are a couple of options for hashing, with considerations for each:
- Circuits can be "frozen" into a hashable form with `circuit.freeze()`. Equality comparison of this frozen format takes time proportional to the size of the circuit (i.e. number of gates)
- The Python id of the circuit can be used for hashing (e.g. `id(circuit)`). Comparison time for this is constant, but copies of a circuit

[2021-07-12 17:43] verult commented on #340
Does the FrozenCircuit happen to guarantee not having hash collisions for different circuits, i.e. can we bypass the equality check?

[2021-07-12 18:29] 95-martin-orion commented on #340
The larger issue here is that `hash(FrozenCircuit)` is not a constant-time operation - it's O(N) for an N-gate circuit.

As far as hashing goes, I'm hesitant to provide a "no-collisions" guarantee as there was staunch opposition when I attempted to use a similar guarantee in FrozenCircuit serialization.

[2021-07-12 19:32] verult commented on #340
I was thinking the hashing time penalty can be mitigated by storing the hash as a circuit field since it's immutable, but yeah if we can't have a "no-collisions" guarantee, the best solution seems to be using an equality check, which could get expensive with multiple large circuits.

If the chance of collision is generally low, limiting to equality checks to hash hits would still improve performan

[2021-07-12 20:24] 95-martin-orion opened #375 "Add CUDA rules to `tests/Makefile`"
Part of #363. In order to set up Kokoro scripts for running our CUDA tests, we need a rule for them in the `Makefile`.

@sergeisakov, could you add this? I got a few lines in on my own attempt before realizing my `make` skills were lacking :/

[2021-07-13 15:16] sergeisakov commented on #375
I can try to add that. Though my `make` skills are also lacking.

[2021-07-20 17:00] laurynasas opened #380 "Opt in to Github Actions MacOS 11.0 VM support"
Please see the [doc](https://github.com/actions/virtual-environments/blob/main/docs/macos-11-onboarding.md) for more information on how a project can get enrolled for an exclusive access to macos-11.0 VMs in Github Actions.

[2021-07-20 17:03] laurynasas commented on #380
Filled in the form, will wait for confirmation.

[2021-07-22 15:25] #375 closed

[2021-07-27 18:31] 95-martin-orion commented on #363
As demonstrated in #383, GPU testing is now covered in Kokoro.

[2021-07-27 19:53] verult commented on #340
Synced offline. Since there are only a small number of use cases, will implement the simplest solution with a list.

[2021-07-29 00:31] verult commented on #340
Just to double check - since qsim isn't yet 1.0, we are free to change `QsimSimulator`'s constructor parameters in the future right?

[2021-07-29 01:11] verult opened #385 "qsimcirq_test import error"
When running `pytest qsimcirq_tests/qsimcirq_test.py within the virtual env locally, I got this error:

[code]

@95-martin-orion

[2021-07-29 14:41] 95-martin-orion commented on #385
Can you try recompiling the pybind interface and re-running the test? The following worked for me:
[code]

[2021-07-29 15:20] 95-martin-orion commented on #340
Yes, these parameters are open to change, although for consistency with Cirq it would be ideal for `QSimSimulator()` to continue working (e.g. with some reasonable defaults for new parameters).

For the record: we currently have no plans to release a 1.0 version of qsim, even after the 1.0 release of Cirq.

[2021-07-29 16:26] verult commented on #385
Yep this works, thanks!

[2021-07-29 16:26] #385 closed

[2021-07-29 18:18] 95-martin-orion opened #388 "Release automation error"
@laurynasas - the release workflow failed with [`Container action is only supported on Linux`](https://github.com/quantumlib/qsim/actions/runs/1079554061). However, qsimcirq v0.10.0 was [successfully released](https://pypi.org/project/qsimcirq/).

[2021-07-30 09:46] laurynasas commented on #388
I see, this is a known issue, there's a nice workaround by having a separate job for collecting artifacts and uploading them as described here https://github.com/pypa/gh-action-pypi-publish/discussions/15#issuecomment-535811720.

I'll work on the change.

[2021-08-03 14:44] jaeyoo opened #393 "mps is not included in BUILD."

[2021-08-03 15:05] jaeyoo commented on #393
Also, I got the following errors due to [utill_qsim.h](https://github.com/tensorflow/quantum/blob/master/tensorflow_quantum/core/src/util_qsim.h#L140-L179):

[code]

[2021-08-03 15:11] jaeyoo commented on #393
@MichaelBroughton

[2021-08-03 15:29] #340 closed

[2021-08-03 22:18] MichaelBroughton commented on #393
Feel free to update the names here. We probably want them to be the same between state vector and MPS.

[2021-08-04 02:33] jaeyoo opened #395 "MPSStateSpace and MPSSimulator are not compatible with StateSpace and Simulator"
We saw that `MPSSimulator` doesn't work with a function due to lack of a definition:

- `ApplyFusedGate()` : [gate_appl.h](https://github.com/quantumlib/qsim/blob/master/lib/gate_appl.h#L135-L148)
  - `fp_type` is not defined in `MPSSimulator`

[code]

Also, `MPSStateSpace` doesn't work with some functions due to different names:

- `tfq::ComputeExpectationQsim()`
  - `StateSpace::Copy()` vs `MPSS

[2021-08-04 02:34] jaeyoo commented on #393
Thank you @MichaelBroughton , let me open a new issue and corresponding PR. Thank you!

[2021-08-04 15:57] #393 closed

[2021-08-05 19:05] jaeyoo commented on #395
`StateSpace::SetZeroState()` should be `StateSpace::SetStateZero()`

[2021-08-11 23:05] 95-martin-orion opened #404 "Test failures with cirq==0.12"
With the release of Cirq v0.12, several qsimcirq tests are now failing with error messages similar to the one below.

<details>

[code]

</details>

We need to bring qsim up-to-date with modern Cirq.

[2021-08-12 14:58] 95-martin-orion commented on #404
This is closely tied to the split-state simulator changes in Cirq, which are tangentially related to #101. While we will eventually want to reconcile qsimcirq intermediate-state simulation with that of Cirq, for expediency I will address this issue by simply routing around that behavior.

While this is being repaired, you can continue using qsimcirq by downgrading your Cirq installation to v0.11.

[2021-08-13 14:36] #404 closed

[2021-08-13 17:45] #302 closed

[2021-08-13 20:37] 95-martin-orion opened #407 "Release v0.10.1 is failing on Windows wheel"
[Workflow logs](https://github.com/quantumlib/qsim/actions/runs/1128850232) show that the Windows wheel is failing with this error:
[code]

@laurynasas any ideas on this? Strictly speaking we shouldn't need `flynt` in the Windows build (it's just for format-checking), so we can drop it if necessary.

[2021-08-14 12:51] laurynasas commented on #407
Right, `flynt` and `black` packages are only available with cp36+ so given that we build cp36+ on all other platforms we can remove cp35 wheel from Windows builds as well. Will open PR for that.

[2021-08-16 14:52] 95-martin-orion commented on #407
Unfortunately the 0.10.1 release, having been cut before the above PR, is unable to pick up the fix. I'll cut 0.10.2 (after a couple other small changes in the pipeline) to get things moving again.

[2021-08-16 16:04] 95-martin-orion opened #411 "Increased runtime for Docker tests"
Starting with #379 (merged on July 26), Docker tests began taking ~10 minutes longer to complete on average. Either that PR or some other change around that time is suspected to have caused this. We should investigate to see if we can bring the runtime back down, as this is starting to negatively affect the pace at which we can merge PRs.

[2021-08-16 16:54] 95-martin-orion commented on #411
This appears to be caused by the release of Cirq v0.11.1. Sample logs from PRs before and after the change:

Before (~7 min for Cirq install):
[code]

After (~15 min for Cirq install):
[code]

Cirq is installed twice during the Docker tests (once for Docker, and once for the "install test"), so an increase of 10-15 minutes roughly matches with the difference seen above.

[2021-08-16 17:33] 95-martin-orion commented on #411
Specifically, most of the time in these tests is lost to building wheels:
* `grpcio` appears in both the old and new logs, but is only required by cirq-google
* `pandas` only appears in the new logs, but has been a cirq dependency for a long time

This suggests a couple of things:
* We can skip the `grpcio` wheel by only installing `cirq-core`, saving some time.
* Cirq 0.11.1 may have introduced c

[2021-08-16 18:12] 95-martin-orion commented on #411
I am unable to reproduce the wheel-building step locally, even with the pip cache disabled. My system consistently retrieves the wheel files for `grpcio`, `pandas`, etc., where these Docker tests instead pickup tarballs and build them.

It _might_ be possible to use the pip `--prefer-binary` flag to avoid this.

[2021-08-16 18:43] 95-martin-orion commented on #411
`--prefer-binary` works! This reduces the runtime of Docker tests enough that they are no longer the bottleneck; instead, "Build all wheels for testing" is the longest-running check at ~30 minutes for the Windows build.

[2021-08-16 19:01] #407 closed

[2021-08-17 13:41] #411 closed

[2021-08-17 17:10] gecrooks opened #414 "QSimSimulatorTrialResult fubared in 0.10.1"
I can no longer instantiate QSimSimulatorTrialResult. The problems seems to be caused by this change (which was released as part of 0.10.1):

https://github.com/quantumlib/qsim/commit/8e8fa958b85bf03f434f3866abbe6fb80cd2742f#diff-5e59fb06d4bf6707e6469f01d08cdcb7d1a8dbccdc716555faeae6a13ae8d65d

I think the problem is that QSimSimulatorTrialResult now inherits from both StateVectorMixin and Simulat

[2021-08-17 17:23] 95-martin-orion commented on #414
Can you provide logs from the error and your current qsim version (i.e. `qsimcirq.__version__`)? This seems likely to be related to #404, which has been fixed in the v0.10.2 release of qsim.

[2021-08-17 17:27] 95-martin-orion commented on #414
RE mixin `__init__` methods: the same behavior is used in Cirq for the [StateVectorTrialResult](https://github.com/quantumlib/Cirq/blob/cad0c336308980f6a4104a73b0b66312a8b72918/cirq-core/cirq/sim/state_vector_simulator.py#L160-L165), which calls its `super()` constructor with args for both the mixin and  `SimulationTrialResult` types. Agreed that this isn't very intuitive, but IIUC this is intende

[2021-08-17 20:47] gecrooks commented on #414
Bah, I take it back. This is some weird error on my part triggered by cirq updating to 0.12 a few days ago. (The underlying problem seems to be that I had 'qsim' in my requirements, which installs an old version of qsim, rather the the current 'qsimcirq')

[2021-08-17 20:53] 95-martin-orion opened #416 "Document setup for GPU on GCP"
The existing GCP documentation details how to set up a GCP VM to run Cirq circuits with qsimcirq, but only covers CPU-based execution. Now that GPU support is available at the qsimcirq level, we should also document how to use it on GCP.

Key details to cover:
- GPUs must be attached to the GCP VM during creation ([docs](https://cloud.google.com/compute/docs/gpus/create-vm-with-gpus))
- GPU driver

[2021-08-17 20:54] 95-martin-orion commented on #414
Glad to hear it's sorted out!

[2021-08-17 20:54] #414 closed

[2021-08-19 21:09] laurynasas opened #418 "Remove libomp and llvm installation requirement from MacOS wheels"
Currently to install MacOS wheel user needs to install `libomp` and `llvm`. This can be fixed by "repairing" the wheel with delocate and including the dependencies to the wheel.

[2021-09-13 17:46] vcatherine commented on #416
CC @cognigami

[2021-09-14 23:23] cognigami opened #424 "Refresh qsim documentation"
The qsim library has grown and evolved, and the documentation could use a little sprucing up. Let's update the docs to  align with the latest features and recommendations.

[2021-09-15 00:00] peterse opened #425 "QSimSimulator accepts nonsense qsim_options"
I've noticed that the following code runs fine in `qsimcirq==0.10.2`:
[code]

To me this is confusing behavior since the 'z' option has only been implemented upstream, and my device does not have any GPU accelerators as far as i know.

I think it would be helpful if the simulator either threw an error when the user tries to invoke options that are unavailable on the current release or device, or a

[2021-09-15 00:08] peterse commented on #416
It would also be helpful to have a diagnostic that a user can run to determine whether GPU simulation is actually enabled for qsimcirq (some script that fails with certainty if run on a device without GPUs or appropriate drivers).

[2021-09-15 11:30] 95-martin-orion commented on #416
@peterse you can run `pytest qsimcirq_tests/qsimcirq_test.py -k gpu_sim` to check this. `test_cirq_qsim_gpu_simulate` will pass if the GPU is available; otherwise, it will be skipped.

[2021-09-15 12:31] 95-martin-orion commented on #425
In the pre-release version, we have a `QSimOptions` dataclass to replace the {string: value} dict: https://github.com/quantumlib/qsim/blob/d15f5f86bdf6e2d5ff1ea5855add6820dcddca94/qsimcirq/qsim_simulator.py#L121-L122

This class provides clearer option names and only accepts valid options, so it should resolve this issue. (We do still allow dict-formatted options for backwards compatibility, but w

[2021-09-15 16:42] 95-martin-orion commented on #416
Copied from the external thread:

If you're using qsimcirq v0.10.2, it's not using GPU - we haven't cut a release with the support yet.

Once qsimcirq GPU support is released (or if you're using the prerelease version of qsim), you can run
[code]
from the command line to determine whether qsim is using GPU. If GPU is not in use this will print `None`, and if GPU is in use it will print the module

[2021-09-15 20:50] 95-martin-orion commented on #416
One final note: because GPU support requires local compilation on a machine with GPU support, a fresh release of qsimcirq isn't particularly helpful here, since anyone using GPU is presumably already cloning from master.

Sorry for the runaround here!

[2021-09-16 18:59] peterse opened #428 "SegFault for many-local observables"
I've been getting segfaults when trying to compute expectation values for long Pauli strings.

When I run the following code for qsim==0.10.2 (pip package) on my laptop it reproduces the problem:

[code]
This outputs
[code]

fwiw the corresponding code using `cirq.Simulator` and `obs.expectation_from_state_vector` works fine.

[2021-09-16 19:12] 95-martin-orion commented on #428
This is a limitation of the qsim [expectation value calculation code](https://github.com/quantumlib/qsim/blob/d522ccbd1a8fc25cad93a0cb9646c8fdec98a9c2/lib/expect.h#L79-L90) - it only supports up to 6-qubit operators. For larger expectation values I recommend using the Cirq tools as you described.

[2021-09-16 19:21] peterse commented on #428
Oh I didn't realize that. Thanks.

[2021-09-16 19:21] #428 closed

[2021-09-20 21:16] 95-martin-orion opened #430 "Provide GPU support in released qsimcirq wheel"
Currently, qsimcirq users who want to run on GPU must compile the code locally, as the wheels are built on Github Actions runners which [do not have the CUDA SDK](https://github.com/actions/virtual-environments/issues/116). Compared to the CPU workflow of `pip install qsimcirq`, this is incovenient; it would be preferable if GPU support was built into the released wheels.

In order to provide this

[2021-09-21 15:53] sergeisakov opened #432 "qsimcirq performance overhead"
qsimcirq Python performance overhead is very high for small circuits. Say, for a 10-qubit circuit, it can be two orders of magnitude larger than the actual simulation time.

[2021-09-30 17:59] jaeyoo opened #436 "ApplyFusedGate doesn't support MPSSimulator"
[code]

We need to add `fp_type` for `MPSSimulator`.

[2021-09-30 18:10] jaeyoo commented on #436
Oops, duplicated, https://github.com/quantumlib/qsim/issues/395

[2021-09-30 18:10] #436 closed

[2021-09-30 20:14] #395 closed

[2021-09-30 22:01] MichaelBroughton opened #439 "Support MPS in pybindings"
It would be great to give our python users the ability to make use of the MPS simulator. This would require implementing a new `cirq.Sampler` object in python that would direct back into the qsim mps_simulator.

[2021-09-30 22:03] MichaelBroughton opened #440 "Support MPS in trajectory simulation"
I think in theory it should be possible to power trajectory simulation using the MPS simulator + statespace combo. This would involve writing any of the missing MPS statespace normalization functions and writing some C++ glue code + tests to see if it can be made to work.

[2021-10-01 00:30] jaeyoo opened #441 "Support MPSStateSpace.Sample() for seamless interface"
For example, we have:

[code]

in `class StateSpace*`, but MPStateSpace doesn't have it. It's a good time to add it.

[2021-10-01 17:06] 95-martin-orion opened #443 "ASAN error flagged in simulator tests"
Our ASAN tests have picked up a `container-overflow` error on this line:
https://github.com/quantumlib/qsim/blob/6976a84db269d57be908f07c7d39042075080f9d/tests/simulator_testfixture.h#L1304

[2021-10-04 11:10] sergeisakov opened #444 "Docker test fails."
`wget $(EIGEN_URL)/$(EIGEN_PREFIX)/eigen-$(EIGEN_PREFIX).tar.gz` in `qsim/Makefile` downloads an html file.

[2021-10-04 14:55] sergeisakov commented on #444
This is related to https://gitlab.com/libeigen/eigen/-/issues/2336.

[2021-10-04 21:03] sergeisakov commented on #444
Fixed.

[2021-10-04 21:03] #444 closed

[2021-10-05 08:34] #443 closed

[2021-10-11 16:06] 95-martin-orion opened #450 "Improve multinode tutorial"
A working version of the multinode tutorial has been submitted to the repo, but we should continue to improve upon it. Below is a short (incomplete) list of changes that would make the tutorial smoother for the user.

- Pre-built images for the compute nodes. This would considerably reduce bringup times, which currently consume 10-15 minutes of the tutorial time.
- GPU support. This essentially re

[2021-10-11 21:44] 95-martin-orion commented on #430
We have a tutorial for using GPU acceleration on GCP here: [GPU-based quantum simulation on Google Cloud](https://quantumai.google/qsim/tutorials/gcp_gpu). If you have your own GPU-enabled device that you'd like to use instead, you can follow the instructions in steps 5 and 6 to locally build and verify the GPU version of qsim.

The goal of this issue (which is currently incomplete) is to remove s

[2021-10-12 13:50] jrossthomson opened #452 "Copied code here has errors. Newlines are broken"
This code is rendered to: https://quantumai.google/qsim

This line is broken when you copy the code.

https://github.com/quantumlib/qsim/blob/b066d792e8e4cea893f3f43324a1da355e33e370/docs/_index.yaml#L61

Should be an easy fix . Maybe:

```circuit = (cirq.experiments.random_rotations_between_grid_interaction_layers_circuit(qubits=qubits, depth=16))```

[2021-10-12 14:36] #416 closed

[2021-10-12 15:25] #452 closed, assigned to nobody

[2021-10-12 20:16] 95-martin-orion opened #454 "Add tests for autoscaler script"
The autoscaler mentioned in the multinode tutorial is currently marked "experimental", but we can remove that mark once tests are in place. These tests can be fairly simple - we just need CI tools verifying that the math is correct and the expected requests are being sent.

[2021-10-13 02:52] 95-martin-orion opened #455 "Update for Cirq v0.13 compatibility"
Nightly compatibility runs are failing due to Cirq preparing for the v0.13 release: https://github.com/quantumlib/Cirq/pull/4567

We need to bring qsim up to speed.

[2021-10-15 17:06] #455 closed, assigned to 95-martin-orion

[2021-10-18 00:05] as3232cornell opened #457 "Qsim pre-release not building"
Hello,
I was attempting to install the pre-release version of qsim in a fresh anaconda environment by running
`git clone https://github.com/quantumlib/qsim.git
cd qsim
make
pip install .`

This gave me the following error:

[code]

After that, running `python3 -c "import qsimcirq"` gives the error
[code]

Could I get some assistance on what is going wrong? I am attempting to build the pre-release

[2021-10-18 18:09] 95-martin-orion commented on #457
It's also possible that you need a newer C++ compiler version; for example, GCC versions older than 5.0 do not support C++14, and [C++14 only became the default after the GCC 6.1 release](https://gcc.gnu.org/projects/cxx-status.html#cxx14).

An aside: I received a previous comment via email, but it's not showing up here. If it's relevant, could you copy that comment here, along with any subsequent

[2021-10-19 17:24] as3232cornell commented on #457
From what I see above, the flag -std=c++14 is being applied even when I don't explicitly specify it.

[2021-10-19 17:38] 95-martin-orion commented on #457
To clarify: the `Makefile`s and the CMake pipeline are two distinct paths for building qsim. Running `pip install .` triggers the CMake pipeline, so any changes you make to `Makefile`s will be ignored by that process.

The necessary flag would need to be set in [our CUDA CMakeLists file](https://github.com/quantumlib/qsim/blob/master/pybind_interface/cuda/CMakeLists.txt), and would need to explici

[2021-10-29 14:19] antalszava opened #465 "The version of `qsim` on PyPi breaks with `cirq` v0.13.1"
After upgrading `cirq` and `qsimcirq`, the following error traceback comes up when running the [measurement sampling example](https://quantumai.google/qsim/tutorials/qsimcirq#measurement_sampling) from the website:
[code]
This issue seems to be related to the [latest release of Cirq](https://github.com/quantumlib/Cirq/releases/tag/v0.13.1) and has been resolved in the development version of `qsim`

[2021-10-29 19:30] 95-martin-orion commented on #465
qsimcirq 0.10.3 has been released with the fix.

[2021-10-29 19:30] #465 closed

[2021-11-08 21:23] 95-martin-orion opened #473 "Link to cuQuantum install guide in docs"
As highlighted in #471.

[2021-11-09 17:09] 95-martin-orion commented on #457
Apologies for the long silence on this. The documentation I can find on [CMAKE_CUDA_ARCHITECTURES](https://cmake.org/cmake/help/latest/variable/CMAKE_CUDA_ARCHITECTURES.html) suggests that it was introduced in CMake v3.18, and prior to that version it was not required.

It's possible that our build process assumes an older version of CMake, and we need to update. You can try adding this block from

[2021-11-15 18:39] 95-martin-orion commented on #313
This has been resolved.

[2021-11-15 18:39] #313 closed

[2021-11-15 18:40] 95-martin-orion commented on #361
This is resolved. It may also be interesting to expose the choice of SIMD modes to the user in qsimcirq, but that is a separate concern.

[2021-11-15 18:40] #361 closed

[2021-11-16 19:57] #320 closed

[2021-11-19 18:02] #473 closed

[2021-11-19 18:33] rugantio opened #481 "Not building with cuQuantum SDK (and cirq)"
I built qsim localli from this repo, also modifing the Makefile in order to build:
[code]
In fact in the local folder I have a "qsim_custatevec.cpython-39-x86_64-linux-gnu.so" file, but when I do "pip install ."  it does not copy over to "/usr/lib/python3.9/site-packages/qsimcirq/"

If I instantiate a simulator that tries to use custatevec it does not find it:
[code]
results in a "ValueError: cuSt

[2021-11-19 19:01] rugantio commented on #481
I noticed that the Makefile tests fail, so it it not building correctly. It might be a problem with GCC 11?

Here is the make log:
[code]

[2021-11-19 19:06] 95-martin-orion commented on #481
`pip install .` uses the CMake build path. Changes to `Makefile`s or `.so` files generated by running `make` will not affect it. (FWIW, the logs above appear to only be warnings - do you know if the tests pass with the warnings disabled?)

That said, if you have the cuQuantum SDK installed, the CMake build process _should_ automatically take cuQuantum into account. To pipe CUQUANTUM_DIR into CMake

[2021-11-19 19:15] rugantio commented on #481
@95-martin-orion have you read the log at all? the CUQUANTUM_DIR variable is set to "/home/rugantio/Downloads/cuquantum", you can see that it was correctly parsed.
The "make qsim-custatevec" contains only warnings that's right, this is the problem, that I'm referring to, because the tests that are supposed to check that everything was fine are running into errors (see the last 6 lines). why is lib

[2021-11-19 19:30] leofang commented on #481
@rugantio Try adding the cuQuantum libraries to your LD_LIBRARY_PATH, something like:
[code]

[2021-11-19 19:56] 95-martin-orion commented on #481
RE: `CUQUANTUM_DIR`, I'm just verifying the build conditions. Running `CUQUANTUM_DIR=[PATH_TO_CUQUANTUM]` would also cause `echo $CUQUANTUM_DIR` to print the expected path, but unless it was exported the variable may not be available to CMake or other tools.

My read on the errors is that `make -C tests/ custatevec-tests` stopped short of generating the `.so` file due to the warnings it encountere

[2021-11-19 20:00] maffoo opened #482 "QSimSimulator does not respect invert_mask on measurements"
Simple example:
[code]

[2021-11-19 21:11] dabacon commented on #482
qsimcirq in good company with all of the other times we forgot to implement invert_mask!

[2021-11-19 21:16] rugantio commented on #481
@leofang thank you leo, linking the loader did solve the issue related to "make run-custatevec-tests", which now works fine and returns, correctly:
[code]

However there is still something wrong with the .so file installation (which at this point we can safely say that is independent of the tests). As I mentioned, I can find the qsim_custatevec.cpython-39-x86_64-linux-gnu.so in the local qsimcirc

[2021-11-22 20:17] daxfohl commented on #149
xref https://github.com/quantumlib/Cirq/pull/4631, the classical control PR for Cirq.

[2021-11-30 17:27] #482 closed

[2021-12-03 19:39] 95-martin-orion commented on #430
Complicating factors identified for implementing option (2) described in the first comment:
- CUDA must be installed on the runner **and** be exposed to the cibuildwheel Docker container. Since the image we currently use is required for cross-compatibility, we cannot exchange it for an image with CUDA pre-installed. ([CUDA docs](https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/ins

[2022-01-04 09:25] MichaelBroughton opened #492 "Swap endianness of MPS simulator to match that of the state vector simulator"
Right now the MPS has different qubit index endianness when applying gates vs the built-in state vector simulator. Not super high priority, but we should probably swap this around for consistency sake.

[2022-01-04 20:26] honamnguyen opened #495 "Can't import qsimcirq on MacOS ARM64"
`pip install qsimcirq` works on my Mac with the M1 chip but then `import qsimcirq` gives the following error
[code]
I found these threads [here](https://github.com/nmwsharp/robust-laplacians-py/issues/7) and [here](https://github.com/nmwsharp/robust-laplacians-py/pull/8) that seem to have a solution which is way over my head but might be useful. If not, I'd also appreciate any suggestion for a wor

[2022-01-12 22:53] we-taper opened #497 "segmentation fault on too many observables"
Dear QSim developers, during a noisy VQE simulation on LiH, I notice that getting expectation value of a certain number of observables seems to result in a segmentation fault. Here's a simple demonstration:

[code]

A few notes that might be helpful:

- I have briefly tested the script above and found that whenever the number of observables is more than 7, the script will give segmentation fault.

[2022-01-12 22:57] 95-martin-orion commented on #497
This is [known behavior](https://github.com/quantumlib/qsim/blob/3d31b4912947329817b2c44343006a4a762622ec/lib/expect.h#L80-L84), but we ought to have documentation for it (or guards against it) at the qsimcirq level as well. I'll take a look.

[2022-01-12 23:31] we-taper commented on #497
Thanks for the quick reply. Is it because for over 6 qubits, the fused gate matrix becomes too large that it might be numerically efficient? Now the work around I think is to add pre-rotation gates and measure them in the standard basis (which I guess has been done in TFQ).

[2022-01-13 00:15] 95-martin-orion commented on #497
More or less, yes. The gate fusion code limits gates to six qubits due to larger gates being inefficient to simulate, and the expectation value code relies on the same behavior.

Looking into this, I found that there's a more expensive expectation value method that avoids this limit, and the pybind layer should automatically use it for more than six qubits:
https://github.com/quantumlib/qsim/blob/

[2022-01-13 13:44] sergeisakov commented on #497
The reason is that the more expensive method requires allocated scratch state. https://github.com/quantumlib/qsim/pull/498 should fix this issue.

[2022-01-13 16:34] #497 closed

[2022-01-24 21:49] 95-martin-orion commented on #101
Two updates on this:

**Update 1**
#499 adds `QSimSimulator.simulate_moment_expectation_values`, which outputs expectation values for selected observables after each moment or a user-specified set of moments. For experiments which only need EVs, this is significantly faster than simulating each truncated circuit.

**Update 2**
`SimulatesIntermediateStates` remains at odds with qsim due to the reas

[2022-02-04 19:08] 95-martin-orion opened #503 "Use qsim for repeated sampling"
Highlighted in #502.

`_sample_measure_results` currently calls Cirq for repeated sampling of non-noisy circuits. This is a serviceable solution, but is somewhat less performant than simulating and sampling all on the qsim side. This is magnified by #502, where noiseless circuits on more than 32 qubits are forced to follow the repeated-simulation path.

We should replace the Cirq-dependent behavio

[2022-02-09 20:13] Akimasa11 commented on #495
I have the same problem where I could install the package but encounter the below error when importing it.
`ImportError: dlopen(/Users/akimasaihara/opt/anaconda3/lib/python3.8/site-packages/qsimcirq/qsim_decide.cpython-38-darwin.so, 0x0002): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib
  Referenced from: /Users/akimasaihara/opt/anaconda3/lib/python3.8/site-packages/qsimcirq/qsim_deci

[2022-02-11 01:00] #503 closed

[2022-02-16 11:32] ochapman-phd opened #505 "Unable to build with cuQuantum (Linux)"
I'm trying to build qsim for use with cuQuantum but am having difficulty getting the build to complete.

I get the following logs when running `make` in the qsim directory

[code]

Prior to running this I have:

- set up a new conda environment `conda create -n env-cuquantum python=3.8 pybind11` and activated it
- exported the cuQuantum directory `export CUQUANTUM_ROOT=/home/usr8221/cuquantum-linu

[2022-02-16 18:28] leofang commented on #505
Could you try `export LD_LIBRARY_PATH=${CUQUANTUM_ROOT}/lib:${LD_LIBRARY_PATH}` please? (lib64->lib)

[2022-02-16 21:56] ochapman-phd commented on #505
I've given that a go and I seem to be getting the same result...

[code]

Here are the steps I'm taking...

Conda environment:
1. `conda create -n env-cuquantum python=3.8 pybind11`
2. `conda activate env-cuquantum`

Download packages:
1. `wget https://developer.download.nvidia.com/compute/cuquantum/redist/cuquantum/linux-x86_64/cuquantum-linux-x86_64-0.1.0.30-archive.tar.xz`
2. `tar -xf cuquantum

[2022-02-18 02:11] 1tnguyen commented on #505
I was having the same issue. My `libcustatevec.so` is in `$CUQUANTUM_DIR/lib` not `lib64` as specified in the CMakeLists [`link_directories`](https://github.com/quantumlib/qsim/blob/master/pybind_interface/custatevec/CMakeLists.txt#L49)
Changing that directory path fixes the build issue.

[2022-02-18 03:37] leofang commented on #505
Thanks, @1tnguyen, good catch. Yes we also found this issue internally. The cause here is that cuQuantum is provided in two paths: devzone (with path lib) and NVIDIA HPC SDK (with path lib64).

@95-martin-orion @sergeisakov I'd suggest to fix in this way:
[code]
The doc/sample fixes are already in our pipeline but might take a while to finish.

[2022-02-18 15:27] sergeisakov commented on #505
@ochapman-phd, `-L${CUQUANTUM_DIR}/lib` should be added to line 15 in `Makefile`.

[2022-02-18 15:29] sergeisakov commented on #505
The reason is that it was `lib64` in the first beta version and `lib` in the second beta version.
#507 should fix this issue.

[2022-02-18 16:45] #505 closed

[2022-02-21 17:29] ochapman-phd commented on #505
Renaming lib to lib64 fixed issue. Cheers!

[2022-02-21 17:35] ochapman-dphil opened #508 "Errors after make: not enough memory"
After running `make` and `pip install .` all seemed well.

However upon testing the error message `not enough memory: is the number of qubits too large?` always appears. This occurs when the `qsimcirq_test.py::test_cirq_qsim_gpu_amplitudes` test is run and in general when setting `qsimcirq.QSimOptions(use_gpu=True)`. This occurs regardless of whether `gpu_mode` is set to 0 or 1.

My system should

[2022-02-22 12:05] sergeisakov commented on #508
In this context, the error message means that `cudaMalloc` fails somehow. Certainly, there should be enough memory on your GPU for just two qubits in `qsimcirq_test.py::test_cirq_qsim_gpu_amplitudes`. Could you add `ErrorCheck(rc);` after line 85 in lib/vectorspace_cuda.h (and perhaps add `#include "util_cuda.h"` at the beginning of that file after line 22) to see the actual CUDA error message?

[2022-02-22 13:05] ochapman-phd commented on #508
The error message gives `CUDA error: the provided PTX was compiled with an unsupported toolchain. /tmp/pip-req-build-8_972xno/pybind_interface/custatevec/../../lib/vectorspace_cuda.h 89`

I assume this means that the wrong version of CUDA was used to compile the code. I've discovered that `nvidia-smi` returns `CUDA Version: 11.2` whereas `nvcc --version` returns `Cuda compilation tools, release 11

[2022-02-25 14:18] mlazzarin opened #510 "Disable gate fusion"
I'm running benchmarks on different quantum simulation libraries, and I'd like to disable gate fusion so that I can decouple the performance of the fusion algorithm with the "raw" performance of the library (without optimizations at circuit level).

I found a way to tweak the maximum size of the fused gates through the ``max_fused_gate_size`` parameter.
Is there a flag to completely deactivate gat

[2022-02-25 22:34] 95-martin-orion opened #511 "Update code affected by Cirq v0.14 deprecations"
Cirq v0.14 is scheduled for release soon, and deprecates a number of code paths used by qsim. We need to update these areas to use the new paths outlined in Cirq.

[2022-02-28 21:20] 95-martin-orion commented on #510
@sergeisakov, is this supported at the C++ level? We don't appear to have a specific flag for it in qsimcirq, but it's possible I'm missing some special-case behavior.

[2022-03-01 13:14] sergeisakov commented on #510
No, this is not supported at the C++ level. It is not possible to completely deactivate gate fusion.

[2022-03-03 21:21] mlazzarin commented on #510
Ok, thank you.

[2022-03-03 21:21] #510 closed

[2022-03-09 18:59] gecrooks opened #514 "Pip installing qsimcirq downgrades black"
When I run `pip install qsimcirq` then my local install of `black` gets downgraded from 22.1.0 to 20.8b1, breaking my local development environment, apparently because qsim has recently added build and test dependencies to `requirements.txt`, and hard coded the black version.

This seems not optimal. Presumable qsim does not have a runtime dependency on black.

https://github.com/quantumlib/qsim/b

[2022-03-10 23:00] 95-martin-orion opened #515 "Update Docker images"
Docker images for tutorials have fallen out of date, we need to update them to keep the tutorials working.

[2022-03-14 19:08] 95-martin-orion commented on #515
This was motivated by an issue observed in the multinode tutorial, where attempting to use `noise3.py` as the script to distribute across nodes triggered an error where `cirq.measurement_key_names` could not be found.

As that protocol was introduced in Cirq v0.13.0, this suggests some portion of the multinode tutorial is out of date, with the Docker images being the primary suspect. That said, we

[2022-03-14 21:37] 95-martin-orion commented on #515
Testing confirms that multinode instances are running with cirq v0.11.1 and qsim v0.11.1, far behind the current version of both modules. Given that these instances use the latest Docker image (also verified), we must be publishing outdated Docker images.

[2022-03-14 21:43] 95-martin-orion commented on #515
CC @jrossthomson - where do we define the tools for publishing our Docker images?

[2022-03-16 20:44] 95-martin-orion commented on #515
Ross directed me to a build defined on GCP, which points back to [this Dockerfile](https://github.com/quantumlib/qsim/blob/master/jupyter/Dockerfile). Still trying to understand how that Dockerfile ends up with the v0.11.1 release of both modules, though - when I run the same commands locally (not in Docker) it gets the latest from both.

Things I've considered:
- centos 8 may be stuck on an older

[2022-03-16 20:54] 95-martin-orion commented on #515
Okay, I found the logs for historical builds, and discovered that there have been errors recently. Of note:
- qsim v0.11.1 was the latest version of qsim at the time of the most recent build.
- The build failed with `Failed to download metadata for repo 'appstream': Cannot prepare internal mirrorlist: No URLs in mirrorlist`
- Centos 8 has reached end of life: https://www.centos.org/centos-linux-eo

[2022-03-18 18:41] 95-martin-orion commented on #515
Build failed on account of `pushd/popd` in separate RUN statements. #520 opened to address this.

[2022-03-18 22:41] 95-martin-orion commented on #515
Docker images have built successfully.

[2022-03-18 22:41] #515 closed

[2022-04-01 23:46] aasfaw commented on #495
Bumping -- Same issue on Monterey 12.3 on an M1.

[2022-04-08 19:00] 95-martin-orion commented on #432
[This profile graph](https://user-images.githubusercontent.com/40585662/162506819-306fdd30-45f2-4e1a-bd75-ea8e2dc0bc6f.png) is generated from a benchmark against 1000 circuits, each with 2 qubits and 4 gates. A notable culprit is the `getattr` method, which consumes ~10% of the runtime (compared to ~0.56% for the actual simulation)

[2022-04-11 18:34] 95-martin-orion commented on #514
This should be fixed with #516, as black is no longer in the main `requirements.txt` for qsimcirq.

[2022-04-11 18:34] #514 closed

[2022-04-11 18:43] 95-martin-orion opened #526 "Windows build broken"
The Windows builds on Kokoro are breaking with a number of disconcerting messages:
[code]
These do not appear in previous passing runs. This failure is blocking submit (#521).

[2022-04-11 19:44] 95-martin-orion commented on #526
This appears to be the result of changes in the Tensorflow toolchain location - hoping to have a fix out later today.

[2022-04-13 15:18] 95-martin-orion commented on #495
This is currently held back by https://github.com/actions/virtual-environments/issues/2187 - in short, we use Github Actions to build and release wheels for each platform, but Github Actions has no M1 runners.

In theory, it should still be possible to install qsimcirq from source (e.g. by downloading and using `make`), but there may be some additional effort needed to get everything to play nicel

[2022-04-18 18:07] 95-martin-orion commented on #526
In the absence of a quick solution for this, we have opted to disable the qsim Windows build to unblock other PRs. We will continue working with the TFQ team to resolve the issue, but for the time being Windows users are advised to install the most recent release prior to the issue (`qsimcirq==0.12.1`).

[2022-04-18 18:10] #511 closed

[2022-05-13 18:18] 95-martin-orion commented on #495
Investigated with @aasfaw and @mpharrigan, and found that building locally on an M1 is blocked for all versions of qsim except `qsim_basic`. This is because ARM64 does not support the SSE or AVX instruction sets qsim uses for vector optimization, which constitute a significant portion of the performance advantages of qsim.

As a result, we won't be prioritizing an M1 build for qsim in the immediat

[2022-05-13 19:20] mpharrigan commented on #495
We should make it clear that our wheels aren't `universal2` so they don't seemingly install successfully but then fail to load

[2022-05-13 21:55] 95-martin-orion commented on #495
Comment from #530: we should see if old `universal2` packages can be marked as non-functional specifically for M1.

[2022-05-17 00:13] mpharrigan commented on #495
I would suspect it would be "we push a higher patch-version of the package marked as `universal2` whose only job is to say "I don't actually work on universal2". I don't know if this would help things or not.

[2022-06-06 15:04] 95-martin-orion opened #533 "Support CircuitOperation(use_repetition_ids=False)"
Highlighted in #531 - apparently `CircuitOperation(use_repetition_ids=False)` does not convert properly to qsim due to not finding the associated measurements.

[2022-06-06 16:30] 95-martin-orion commented on #533
Yup, looks like we've been relying on `findall_operations_with_gate_type`, which doesn't bother searching inside of `CircuitOperation`s. Modifying that method is probably the right way to resolve this, although because of how qsimcirq handles the output we won't be able to support `repeat-until` without additional changes.

[2022-06-06 16:34] 95-martin-orion commented on #533
One additional issue: `findall_operations_with_gate_type` returns a (moment index, op, gate) tuple. For a sub-operation of a `CircuitOperation`, moment index doesn't precisely locate the operation.

[2022-06-06 17:46] maffoo commented on #533
I think some specific logic for finding measurement operations would be generically useful. For example, in `cirq-google` we have a [`find_measurements`](https://github.com/quantumlib/Cirq/blob/master/cirq-google/cirq_google/api/v2/results.py#L47) function to find measurements in a circuit which does something similar to what we need here (that function also needs to be updated to handle `CircuitO

[2022-06-14 13:19] JoelHBierman commented on #495
@95-martin-orion Just out of curiosity, how much of the qsim optimization relies on AVX-512 (or even BLAS optimized for certain CPUs such as Intel MKL)? Our university has a cluster of AMD 5950X CPUs (which lack AVX-512) and I'm curious if either of these factors would impact the performance.

[2022-06-14 15:18] 95-martin-orion commented on #495
Under certain conditions and with the right settings, AVX-512 can provide additional performance above and beyond what the base AVX version of qsim can offer - IIRC, we saw up to 2x speedup with AVX-512 in the best case. So if you can use AVX-512, it's a nice boost, but if you have to fall back on base AVX it's not a terrible loss.

I don't think we use BLAS outside of the custatevec variant of qs

[2022-06-14 15:56] sergeisakov commented on #495
Yes, we don't use BLAS outside of the custatevec variant of qsim. As @95-martin-orion pointed out, AVX-512 can give rise up to 2x speedup in the best case. In reality, the speedup is typically smaller than that. It depends on the number of threads and memory bandwidth.

[2022-07-05 10:18] 1tnguyen opened #535 "Compatibility with latest Cirq"
Cirq v0.15.0 has been released and it seems to be incompatible with the current qsim version (0.12.1).

Is there a plan to release a new qsim version soon?

[2022-07-06 15:53] 95-martin-orion commented on #535
Yes, qsim v0.13.0 is slated for release as soon as blocking issues with the macOS build are resolved ([link](https://github.com/quantumlib/qsim/runs/7124424383?check_suite_focus=true)).

[2022-07-06 23:01] 1tnguyen commented on #535
Thanks for the information!

[2022-07-06 23:01] #535 closed

[2022-07-06 23:10] 95-martin-orion commented on #535
qsimcirq 0.13.0 has been released, and should be compatible with Cirq 0.15.0.

Please open a new issue if problems persist, and thanks for raising this one!

[2022-07-07 17:41] 95-martin-orion opened #537 "Can't install later than qsim 0.9.5 with python 3.10"
On machines which only have python 3.10 installed, running `pip install qsimcirq` gets version 0.9.5 with the following error message for later versions: `none of the wheel's tags (<wheel>) are compatible`.

It is possible to work around this by installing an older python version (e.g. using `pyenv`), but ideally users shouldn't need to worry about their python version as long as they have at leas

[2022-07-07 23:58] leofang commented on #537
Thanks, Orion, we also hit this issue today 🙏

[2022-07-08 17:40] vtomole opened #540 "`cirq.Circuit(cirq.I(cirq.LineQubit(0)))` segfaults when trying to execute on qsim"
Trying to run a circuit that contains an identity operation on the simulator:

[code]

Outputs:

[code]

[2022-07-08 18:02] 95-martin-orion commented on #540
Further testing suggests that the circuit must contain _only_ identity gates to trigger the segfault - for example, `X(q0), I(q1)` will run successfully.

`qsim_circuit` is conspicuously lacking in translators for identity gates - it's possible they got lost in recent optimizations. I'll take a closer look.

[2022-07-08 18:25] 95-martin-orion commented on #540
It looks like the translation is fine - `cirq.decompose` converts to an empty circuit - but `compute_amplitudes` is misbehaving due to all qubits having been abstracted away. qsim ought to preserve the identity qubits for use in amplitude retrieval.

Some similar tests for comparison:
[code]

[2022-07-08 18:29] 95-martin-orion commented on #537
Reopening because the 0.13.1 release does not have python 3.10 wheels, despite being clearly logged in the workflow printout.

[2022-07-08 18:35] 95-martin-orion commented on #537
Aha! From the cibuildwheel changelogs:

So we need to bump our cibuildwheel version as well.

[2022-07-09 13:58] Gopal-Dahale commented on #495
I faced this error on google colab recently with GPU runtime. I followed the following steps"
[code]
and then
[code]
which resulted in the following error
[code]
Any solution for this?

[2022-07-11 15:00] 95-martin-orion commented on #495
Hi @Gopal-Dahale! You may be able to resolve the issue by running python from outside the qsim directory - there is a known issue where running inside the qsim directory causes name collisions between installed qsim and the local branch.

Try:
[code]

Note however that this is a different problem from the one discussed in the issue - this workaround doesn't fix the issue of not being able to insta

[2022-07-11 16:59] Gopal-Dahale commented on #495
@95-martin-orion Thanks. it worked. New problem that I faced when using qsimcirq as backend in `tfq.ControlledPQC`.

[code]

[code]
I have put the cuquantum files in ` /usr/local/cuquantum` and in `.bashrc` have added these lines
[code]
followed by `source  ~/.bashrc`. Ran the test program given on [docs](https://docs.nvidia.com/cuda/cuquantum/custatevec/getting_started.html#installation-and-compi

[2022-07-11 17:17] 95-martin-orion opened #542 "cuStateVec issue on GPU in Google Colab"
Branched from #495. @Gopal-Dahale wrote:

[2022-07-11 17:18] 95-martin-orion commented on #495
@Gopal-Dahale moving this discussion to #542 to keep this issue focused on the MacOS issue. In the future, feel free to open a new issue if none of the existing ones match what you're experiencing.

[2022-07-11 17:39] 95-martin-orion commented on #542
@Gopal-Dahale, can you confirm that you set up both cuQuantum and NVCC on your device before building qsim? The error you are seeing occurs when the `qsim_custatevec` is not initialized, which occurs if either cuQuantum or NVCC is not available when qsim is initially built.

Relevant code snippets:
https://github.com/quantumlib/qsim/blob/f0216ddbf36c7890ce120c144e7cfc4092c4541d/pybind_interface/de

[2022-07-11 19:57] 95-martin-orion opened #543 "Upgrade for compatibility with Cirq 1.0"
Several deprecated parts of Cirq are being removed in preparation for its 1.0 release. In order for qsim to remain compatible, we need to upgrade its behavior to match.

The nightly compatibility check is a useful indicator for what's currently broken.

[2022-07-11 21:03] maffoo opened #545 "cirq.StateVectorSimulatorState removed"
Unable to import qsimcirq with latest versions of cirq, due to `cirq.StateVectorSimulatorState` being removed:
[code]

[2022-07-11 21:09] 95-martin-orion commented on #545
Yup, `pip install cirq --pre` is going to be pretty unstable for a bit while Cirq 1.0 changes rush in. qsim hasn't released a patch for 1.0 (in no small part because of how many deprecations are going through) so for now you should fall back to stable Cirq (no `--pre`)

[2022-07-11 21:09] 95-martin-orion commented on #545
Duplicate of #543

[2022-07-12 15:50] 95-martin-orion commented on #537
Back again, as advancing cibuildwheel still does not fix the issue.

[2022-07-13 14:38] rht opened #548 "Running the first example in qsimcirq tutorial results in error AttributeError: 'Circuit' object has no attribute 'device'"
I tried running the first example in https://quantumai.google/qsim/tutorials/qsimcirq, encountered the following error
[code]
I installed Cirq and qsimcirq less than an hour ago, and so it is the latest version from PyPI.

Python version: 3.10.5
Cirq version: 0.15.0
qsimcirq version: 0.9.5
OS: NixOS 22.11 (Raccoon)

[2022-07-13 15:46] 95-martin-orion commented on #548
This is a known issue with Python 3.10: #537. We are actively working on a fix, but in the meantime it's possible to work around the issue by using an older version of Python (e.g. using `pyenv`).

Closing as duplicate.

[2022-07-13 15:46] #548 closed

[2022-07-13 16:26] rht commented on #548
Thank you for the fast respond! For now, I am using the Docker version `gcr.io/quantum-builds/github.com/quantumlib/jupyter_qsim:latest`, which uses Python 3.6 (already EOL).

[2022-07-13 19:31] #545 closed, assigned to nobody

[2022-07-13 19:34] 95-martin-orion commented on #543
Sample nightly compatibility run: [link](https://github.com/quantumlib/qsim/runs/7312352387?check_suite_focus=true)

[2022-07-14 16:38] 95-martin-orion commented on #537
This will be fully resolved (verified this time!) once #550 is merged and a new release is created.

[2022-07-14 23:24] rht opened #551 "Bump the Docker image to use Python 3.7 instead of 3.6"
Since #549 has been merged, the oldest supported Python version is now 3.7.

[2022-07-15 14:59] 95-martin-orion commented on #551
The Docker image auto-updates, but we recently found that its current OS is incompatible with Python > 3.6. I'll switch out the Docker version to get us bumped forward.

[2022-07-15 17:35] 95-martin-orion commented on #551
The `jupyter_qsim` docker image used in the Cloud tutorials was updated in #552. If you pull a fresh copy of the image, it will include the latest versions of both qsim and Cirq.

Does this fulfill your requirements?

[2022-07-16 02:16] rht commented on #551
Yes, I just pulled, and it is indeed Debian Bullseye, Python 3.9.2, Cirq 0.15.0, qsimcirq 0.13.3. Now I don't have to worry about maintaining compatibility with Python 3.6. Thank you so much, much appreciated!

[2022-07-16 02:16] #551 closed

[2022-07-17 12:23] AlaricCheng opened #553 "A strange problem about the QSimSimulator"
Hi there,

I encountered a strange problem when using qsim. Below is the script that can reproduce the error. Basically, I first generate the set of all single-qubit Clifford gates, which is `_single_qubit_clifford`. Then, I define a circuit by adding gates layer by layer; one layer of single-qubit Clifford gate followed by a layer of CNOTs and so on. Besides, I also added errors after each layer.

[2022-07-18 02:08] 95-martin-orion commented on #553
The root error is the `fuser: gate at time 4 is out of time order` message this produces, which is due to an error in the circuit translation code. In short, noiseless ops can decompose into multiple time steps, but noisy ops cannot. qsim was adding a copy of the noisy gates for each time step produced by the noiseless gates.

A fix is up in #554. If you're using qsim by cloning the repo, you can

[2022-07-18 18:06] #553 closed

[2022-07-19 00:11] maffoo commented on #543
Fixed by #555.

[2022-07-19 00:11] #543 closed

[2022-08-11 07:59] Gopal-Dahale commented on #542
This issue is resolved for me. Here are the steps that helped me and can be used on google colab.

1. Download the tarball of cuquantum and extract it to `/usr/local/cuquantum`.
2. Set the following environment variables

[code]
3. Verify cuquantum installation by executing the [code example](https://docs.nvidia.com/cuda/cuquantum/custatevec/getting_started.html).
4. [Install qsimcirq](https://qua

[2022-09-27 12:44] yor-dev opened #565 "QSimSimulator.simulate_expectation_values for identity operators is wrong"
QSimSimulator.simulate_expectation_values returns wrong results for identity operators in observables.
As the following example shows, identity operators in observables seem to be regarded as zero matrices.

This is a straightforward example.
[code]

And the result is here.
[code]

[2022-09-27 17:26] 95-martin-orion commented on #565
Identity operators are ignored because `cirq.PauliString` does not include identities in its `.items()` representation. The reason for this is tied to some messy details of Cirq's concept of Paulis; thankfully, a workaround is possible (#566).

[2022-09-27 21:10] #565 closed

[2022-10-22 23:53] rht opened #567 "Installing qsimcirq~=0.14.0 on Python Docker image tagged 3.10-alpine failed"
[code]

I suppose this is because the more recent wheels don't support Alpine's `musl`?

[2022-10-22 23:56] rht commented on #567
https://github.com/docker-library/python/issues/341#issuecomment-426026398

[2022-10-22 23:58] rht commented on #567
Based on reading the thread above, it looks like this issue can't be resolved?

[2022-10-24 15:20] 95-martin-orion commented on #567
This looks similar to #537, which tells me your guess about `musl` is likely correct. I vaguely remember running up against the `manylinux` vs. `musllinux` issue there.

@pavoljuhas, could you investigate whether it is possible to add a `musl` wheel to our release?

[2022-10-24 20:51] pavoljuhas commented on #567
The [cibuildwheel](https://github.com/pypa/cibuildwheel#what-does-it-do) which we use should be in theory capable of producing *musllinux* wheels.  To be worth the effort, we need to make sure that qsimcirq dependencies can be installed on a musl-based system as well.

@rht - can you please check if you can install all packages from qsim [requirements.txt](https://github.com/quantumlib/qsim/blob/m

[2022-10-24 22:01] rht commented on #567
I tested on
[code]
and found out that Numpy doesn't support `musl` yet: https://github.com/numpy/numpy/issues/20089. There were 19 test errors when they tested the `musllinux` wheel.

[2022-10-25 02:42] pavoljuhas commented on #567
I suppose this is a no go at this time.  Feel free to reopen when numpy wheels are available for musllinux.

[2022-10-25 03:48] rht commented on #567
OK, thank you. I will let you guys know once that Numpy issue is closed and the wheel has made it into a release.

[2022-10-25 03:48] #567 closed